
plugins {
  id 'nf-schema@2.6.1'
}

includeConfig "../../config/common.schema.config"




params {
        help = false
        prefix = ""
        vcf= null
        outdir = "results"
        dbsnp = null
        //recal_snps_args="" set in config
        //recal_indels_args="" set ni config
        with_stats = false
        with_multiqc = false
        recal_snps_args = ""
        recal_indels_args = ""
        attributes_snps =  "ExcessHet,FS,InbreedingCoeff,QD,ReadPosRankSum,SOR,MQ,MQRankSum"
        attributes_indels = "ExcessHet,FS,InbreedingCoeff,QD,ReadPosRankSum,SOR,MQ,MQRankSum"
        split_method = "--distance 50Mb"
        concat_by_contigs = true
        }


includeConfig "../../config/nextflow.config"


process {
        withName: "VQSR:VCF_TO_BED" {
                ext.split = false
                }

        withName: "VQSR:APPLY_RECALIBRATION_SNP" {
                array = 100
                }
        withName: "VQSR:APPLY_RECALIBRATION_INDEL" {
                array = 100
                }


	withName: "VCF_TO_INTERVALS" {
		memory = "5G"
		}
	
        withName: "VQSR:GUESS_PARAMETERS" {
                ext.attributes = {meta.type=="snps"?"${params.attributes_snps}":"${params.attributes_indels}"}
                ext.recal_args = {meta.type=="snps"?"${params.recal_snps_args}":"${params.recal_indels_args}"}
        }
        
        withName:  "VQSR:SPLIT_N_VARIANTS" {
                ext.method = {"${params.split_method}"}
                }

        withName :"MERGE_VCFS" {
                cpus = 4
                memory = 5.GB
                ext.compression_level = 9
                publishDir = [
                        path: {"${params.outdir}/VCF"},
                        saveAs: { filename -> "${params.prefix}.${filename}" },
                        mode: "copy",
                        pattern : '*.{bcf,csi,vcf.gz,tbi,md5}',
                        overwrite : true
                        ]
        }
}

