

params {
        help = false
        prefix = ""
        vcf="NO_FILE"
        outdir = "results"
        //recal_snps_args="" set in config
        //recal_indels_args="" set ni config
        }




process {
        withName: "VQSR:VCF_TO_BED" {
                ext.split = false
                }

        withName: "VQSR:APPLY_RECALIBRATION_SNP" {
                array = 100
                }
        withName: "VQSR:APPLY_RECALIBRATION_INDEL" {
                array = 100
                }


	withName: "VCF_TO_INTERVALS" {
		memory = "5G"
		}
	withName : "GATHER_VCFS" {
        	publishDir = [
                path: {"${params.outdir}/VCF"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
                overwrite : true
                ]
        }
	withName : "GATHER_BY_CONTIG" {
        	publishDir = [
                path: {"${params.outdir}/VCF"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
                overwrite : true
                ]
        }

}

