plugins {
  id 'nf-schema@2.0.0'
}

includeConfig("../../confs/trace.cfg")

params {
        help = false
        prefix = "prefix"
        fasta = "NO_FILE"
        vcf="NO_FILE"
        outdir = "results"
	gather_by = "all"
        }





process {
	withName: "VCF_TO_INTERVALS" {
		memory = "5G"
		}
	withName : "GATHER_VCFS" {
        	publishDir = [
                path: {"${params.outdir}/VCF"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
                overwrite : true
                ]
        }
	withName : "GATHER_BY_CONTIG" {
        	publishDir = [
                path: {"${params.outdir}/VCF"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
                overwrite : true
                ]
        }

}

