params {
	help = false
	outdir = "results"
	prefix = ""
	fasta = null
	ucsc_name = "undefined"
	filter=" -q 30 -M -F 3844 "
}
includeConfig "../../config/nextflow.config"


params {
	samplesheet =null
	bed = null
	//downsampling depths. integer , comma separated
	depths = "1,2,5,10,15,20"
	}




process {
withName : "SAMTOOLS_VIEW" {
	ext.args1 = {params.filter}
	}
withName : "DOWNSAMPLE" {
	ext.args1 = {params.filter}
	}
}

