plugins {
  id 'nf-schema@2.6.1'
}

params {
        /* File containing the paths to the indexed BAM/CRAM files */
	samplesheet = "NO_FILE"

	/* mapq min mapping quality . If it's <=0, just use the bam index as is. Otherwise OR IF IT's A CRAM, rebuild the bai */
	mapq = 0


	/** run by batch of bai with this size */
	batch_size = 100000

	outdir = "results"
	pedigree = null
        radius = 1000
	with_singletons = true
	}

includeConfig "../../config/nextflow.config"


process {

  withName : "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
    ext.output_type = "ACGT"
    ext.max_to_merge = 1
  }



withName: "JVARKIT_BAM_RENAME_CONTIGS" {
        ext.args1 =  {" -F 3844  -q ${params.mapq} "}
        }

withName: "INDEXCOV_REBUILD_BAI" {
        ext.mapq =  {"${params.mapq}"}
}

withName : "INDEXCOV:APPLY_INDEXCOV" {
        publishDir = [
                path:"${params.outdir}/batch",
                mode: "copy",
                pattern : '*.{zip,bed.gz,bed.gz.tbi}',
		saveAs: { filename -> "${params.prefix}$filename" },
                overwrite : true
                ]
	}

withName : "INDEXCOV:MERGE_BEDS" {
                publishDir = [
                path:"${params.outdir}",
                mode: "copy",
                pattern : '*.{bed.gz,bed.gz.tbi}',
		saveAs: { filename -> "${params.prefix}$filename" },
                overwrite : true
                ]
	}

withName : "JVARKIT_INDEXCOV2VCF" {
	ext.args1 = "--no-merge"
        publishDir = [
                path:"${params.outdir}",
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
		saveAs: { filename -> "${params.prefix}$filename" },
                overwrite : true
                ]
	}

withName: "INDEXCOV:INDEXCOV_TO_SVG:FAI_TO_SVG:BED_TO_XML" {
    ext.args1 = "--min-contig-length 50000000"
    ext.with_dict  = true
    }

withName:"INDEXCOV:INDEXCOV_TO_SVG:DICT_TO_BED" {
    ext.args1 = "--no-header" 
    }

withName : "INDEXCOV:INDEXCOV_TO_SVG:CYTOBAND_TO_SVG:BED_TO_XML" {
    ext.args1 = {" --columns name,color"}
    }

withName : "INDEXCOV:INDEXCOV_TO_SVG:BED_TO_XML" {
    ext.args1 = {" --columns norm,class"}
    }

withName : "INDEXCOV:INDEXCOV_TO_SVG:CYTOBAND_TO_SVG:XSLTPROC" {
    ext.args1 = {"--stringparam radius_R1 ${params.radius} -stringparam radius_R2 ${(params.radius as int)-50}  "}
    }

withName : "INDEXCOV:INDEXCOV_TO_SVG:XSLTPROC" {
    ext.args1 = {"--stringparam class donut_${meta.index_mod2}  --stringparam title \"${meta.id}\" --stringparam radius_R1 ${meta.outer_radius} -stringparam radius_R2 ${meta.inner_radius}  "}
    }

withName : "INDEXCOV:INDEXCOV_TO_SVG:BUILD_SVG" {
        ext.radius = { "${params.radius}" }
        publishDir = [
                path:"${params.outdir}/IMAGES",
                mode: "copy",
                pattern : '*.{svg,svg.gz}',
		saveAs: { filename -> "${params.prefix}$filename" },
                overwrite : true
                ]
        }

withName : "SAMTOOLS_COVERAGE" {
    ext.args1 = "--plot-depth --ascii"
     publishDir = [
        path:"${params.outdir}/PLOTS",
        saveAs: { filename -> "${params.prefix}$filename" },
        mode: "copy",
        pattern : '*.{txt,tsv}',
        overwrite : true
        ]
    }


withName : "COMPILE_VERSIONS" {
        publishDir = [
                path:"${params.outdir}",
                mode: "copy",
                pattern : '*.{csv,tsv,html}',
		saveAs: { filename -> "${params.prefix}$filename" },
                overwrite : true
                ]
	}

withName : "BATIK_RASTERIZE_PDF|BATIK_RASTERIZE_PNG|BATIK_RASTERIZE_JPG" {
    publishDir = [
        path:"${params.outdir}/IMAGES",
        saveAs: { filename -> "${params.prefix}$filename" },
        mode: "copy",
        pattern : '*.{png,pdf,png,jpeg,jpg}',
        overwrite : true
        ]
    }



}

