
params {
        /* File containing the paths to the indexed BAM/CRAM files */
	samplesheet = "NO_FILE"

	/* mapq min mapping quality . If it's <=0, just use the bam index as is. Otherwise OR IF IT's A CRAM, rebuild the bai */
	mapq = 0


	/** run by batch of bai with this size */
	batch_size = 100000

	outdir = "results"
	}



process {
errorStrategy = "finish"

withName: "JVARKIT_BAM_RENAME_CONTIGS" {
        ext.args1 =  {" -F 3844  -q ${params.mapq} "}
        }

withName: "INDEXCOV_REBUILD_BAI" {
        ext.mapq =  {"${params.mapq}"}
}

withName : "INDEXCOV:APPLY_INDEXCOV" {
        publishDir = [
                path:"${params.outdir}/batch",
                mode: "copy",
                pattern : '*.{zip,bed.gz,bed.gz.tbi}',
                overwrite : true
                ]
	}

withName : "INDEXCOV:MERGE_BEDS" {
                publishDir = [
                path:"${params.outdir}",
                mode: "copy",
                pattern : '*.{bed.gz,bed.gz.tbi}',
                overwrite : true
                ]
	}

}

