

apptainer.autoMounts = true
apptainer.enabled = true
apptainer.runOptions = " --nv "

process {


errorStrategy = "terminate"

withName : "PB_BAM2FQ" {
	conda = null
	container = "/LAB-DATA/GLiCID/projects/ITX/tools/parabricks.4_5.sif"
	beforeScript = "module load nvhpc apptainer"
	ext.gpus = 1
	ext.cpu_per_gpu=1
	}
}
