
conda.enabled = true

params {
	// CSV file containing the variant
	positions = null
	// CSV bam files
	samplesheet = null

	help = false
	prefix = ""
	//output directory
	outdir = "results"

	//fasta
	fasta = "NO_FILE"
	fai = "NO_FILE"
	dict = "NO_FILE"

	// keep 'x' samples having a score > 0 where the score is the number of non REF bases. -1: no filtering
	max_score_0 = -1

	// optional TSV file mapping sample (col1) to collection (col2)
	sample2collection = "NO_FILE"
	}

includeConfig "../../config/nextflow.config"


process {

withName : "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
		ext.output_type = "ACGT"
		ext.max_to_merge = 1
    }

  withName : "ZIPIT" {
        publishDir = [
	                path: { "${params.outdir}" },
			saveAs: { filename -> "${params.prefix}$filename" },
	                mode: "copy",
			pattern : '*.zip',
			overwrite : true
                ]
	}



}
