includeConfig "../../config/nextflow.config"

params {
	outdir="results"
	samplesheet = "NO_FILE"
	bwa_index_directory = null
	capture=null
	bed=null //limit BAM to this bed (not a capture)
	known_sites  = null //vcf for recalibration
	with_bqsr = true
	with_cram = true
	with_markdup = true
	with_seqkit_split = true
	markdup_method = "markduplicates"
}


process {
  withName : "SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
    ext.output_type = "ACGT"
    ext.max_to_merge = 1
  }

  withName: "MAP_BWA:BQSR:BED_CLUSTER" {
	ext.args = "--size 1Mb"
  }


withName : "MAP_BWA:BAM_TO_CRAM" {
	publishDir = [
          path:{"${params.outdir}/BAMS/${meta.id}"},
          saveAs: { filename -> "${params.prefix?:""}$filename" },
          pattern : '*.{bam,cram,bai,crai,md5}',
          mode: "copy",
          overwrite : true
          ]
	}

withName : "MAKE_SAMPLESHEET" {
	publishDir = [
          path:{"${params.outdir}"},
          saveAs: { filename -> "${params.prefix?:""}$filename" },
          pattern : '*.{csv}',
          mode: "copy",
          overwrite : true
          ]
	}

withName : "BAM_QC:SAMTOOLS_FLAGSTATS" {
	ext.args1 = ""
	}

}
