includeConfig 'wgselect.config'

params {
	burden {
		/** run a pihat before the burden itself */
		with_pihat = false

		/** name of the pedigree for rvtest */
		rvtests_phenotype_name  = "y1"

		/** parameters for rvtest */
		rvtest_arguments = "--burden cmc,zeggini,mb,fp,exactCMC,cmcWald,rarecover,cmat --vt price,analytic --kernel 'skat[nPerm=1000],kbac,skato'"

		}
	}
