params {
	samplesheet = "NO_FILE"
	bed = "NO_FILE"
	min_sv_len = 200
	max_sv_len = 1000000
	}


process {

withName : "EXTEND_BED" {
	ext.max_sv_length  = {params.max_sv_len}
	ext.min_sv_length  = {params.min_sv_len}
}


withName : "DRAW_COVERAGE" {
	array = 100
}

withName : "ZIP_ALL" {
        publishDir = [
                path:"${params.outdir}",
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{zip}',
                overwrite : true
                ]

        }

}
