plugins {
  id 'nf-schema@2.6.1'
}

includeConfig "../../config/common.schema.config"



params {
	samplesheet = null
	bed = null
	min_sv_len = 200
	max_sv_len = 1000000
        gtf=null
        with_wally = false
	}

includeConfig "../../config/nextflow.config"

process {

        withName : "EXTEND_BED" {
                ext.max_sv_length  = {params.max_sv_len}
                ext.min_sv_length  = {params.min_sv_len}
        }


        withName : "PLOT_COVERAGE_01:PDF_NAVIGATION" {
                publishDir = [
                        path:"${params.outdir}",
                        saveAs: { filename -> "${params.prefix}$filename" },
                        mode: "copy",
                        pattern : '*.{zip,pdf}',
                        overwrite : true
                        ]

                }
        
        withName : "WALLY:BCFTOOLS_QUERY" {
                ext.format = "%CHROM\t%POS0\t%END\t%ID"
                ext.suffix = "bed.gz"
                ext.cmd2 = "| gzip "
        }
        
        withName : "WALLY:WALLY_REGION" {
               ext.args1 = { "-r \"${meta.contig}:${meta.start}-${meta.end}\"" }
        }

        withName: "MULTIQC" {
                publishDir = [
                        path: { "${params.outdir}/multiqc" },
                         saveAs: { filename -> "${params.prefix}$filename" },
                        mode: "copy",
                        pattern : '*.{zip}',
                        overwrite : true
                        ]
                }

}
