params	{
	samplesheet= "NO_FILE"
	/** curstom exclude bed */
	exclude_bed = null
	cases = null
	with_annotation = true
	}

process {

withName: "SMOOVE_CALL|SMOOVE_MERGE|SMOOVE_GENOTYPE|SMOOVE_PASTE|SMOOVE_ANNOTATE" {
	conda = null
	 // module load apptainer && TMPDIR=${PWD} apptainer pull smoove.sif docker://brentp/smoove 
	container = "/LAB-DATA/GLiCID/users/lindenbaum-p@univ-nantes.fr/APPTAINER/smoove.sif"
}

withName: "JVARKIT_VCF_SET_DICTIONARY" {
	ext.sort = true
	ext.extension  = ".vcf.gz"

	 publishDir = [
		path: {"${params.outdir}/VCF"},
		saveAs: { filename -> "${params.prefix}$filename" },
		mode: "copy",
		pattern : '*.{bcf,vcf.gz,csi,tbi}',
		overwrite : true
		]
	}

}

/** END PARAMS */
