params {
	genomes {
		hs37d5  {
		 	name = 'hs37d5'
			fasta = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/hs37d5_all_chr.fasta"
			gnomad_genome = "/LAB-DATA/BiRD/resources/species/human/broadinstitute.org/gnomad/release-181127/2.1/vcf/genomes/gnomad.genomes.r2.1.sites.vcf.gz"
			somalier_sites_url = "https://github.com/brentp/somalier/files/3412453/sites.hg19.vcf.gz"
			dbsnp = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/20210605.hs37d5.ID.sites.vcf.gz"
			snpeff_database_name = "GRCh37.75"
			}

		hs38me  {
		 	name = 'hs38me'
			fasta = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/hs38me_all_chr.fasta"
			gnomad_genome = "/LAB-DATA/BiRD/resources/species/human/broadinstitute.org/gnomad/3.0/gnomad.genomes.r3.0.sites.vcf.gz"
	                somalier_sites_url = "https://github.com/brentp/somalier/files/3412456/sites.hg38.vcf.gz"
			dbsnp = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/hs38me_all_chr_dbsnp-146.vcf.gz"
			snpeff_database_name = "GRCh38.86"
			}


		}
	}


