params {
	genomes {
		hs37d5  {
		 	name = 'hs37d5'
			ucsc_name = "hg19"
			fasta = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/hs37d5_all_chr.fasta"
			gnomad_genome = "/LAB-DATA/BiRD/resources/species/human/broadinstitute.org/gnomad/release-181127/2.1/vcf/genomes/gnomad.genomes.r2.1.sites.vcf.gz"
			gnomad_exome = "/LAB-DATA/BiRD/resources/species/human/broadinstitute.org/gnomad/release-181127/2.1/vcf/exomes/gnomad.exomes.r2.1.sites.vcf.gz"
			somalier_sites_url = "https://github.com/brentp/somalier/files/3412453/sites.hg19.vcf.gz"
			dbsnp = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/20210605.hs37d5.ID.sites.vcf.gz"
			snpeff_database_name = "GRCh37.75"
			mapability_bigwig = "/LAB-DATA/BiRD/resources/species/human/ucsc/hg19/encodeDCC/wgEncodeDukeMapabilityUniqueness35bp.bigWig"
			rmsk_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/rmsk.txt.gz"
			encode_exclude_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg19/encodeDCC/wgEncodeMapability/wgEncodeDukeMapabilityRegionsExcludable.bed.gz"
			lcr_url = "https://github.com/lh3/varcmp/blob/master/scripts/LCR-hs37d5.bed.gz?raw=true"
			simple_repeats_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/simpleRepeat.txt.gz"
			 vep_module = "ensembl-vep/104.3"
                        vep_invocation="vep --cache --format vcf --force_overwrite --no_stats --offline  --dir_cache /LAB-DATA/BiRD/resources/apps/vep  --species homo_sapiens --cache_version 91 --assembly GRCh37  --fasta /LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/hs37d5_all_chr.fasta --use_given_ref --vcf "
			cadd_tabix = "/LAB-DATA/BiRD/resources/species/human/krishna.gs.washington.edu/download/CADD/v1.6/whole_genome_SNVs.tsv.gz"

			gff3 = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/Homo_sapiens.GRCh37.87.chr_patch_hapl_scaff.gff3.gz"
			gtf =  "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/Homo_sapiens.GRCh37.87.chr_patch_hapl_scaff.gtf.gz"

			known_genes_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/wgEncodeGencodeBasicV43lift37.txt.gz"
			spliceai_annotation_type = "grch37"

			gnomad_sv_url = "https://storage.googleapis.com/gcp-public-data--gnomad/papers/2019-sv/gnomad_v2.1_sv.sites.bed.gz"
			dgv_url = "http://dgv.tcag.ca/dgv/docs/GRCh37_hg19_variants_2020-02-25.txt"
			}

		hs38me  {
		 	name = 'hs38me'
			ucsc_name = "hg38"
			fasta = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/hs38me_all_chr.fasta"
			gnomad_genome = "/LAB-DATA/BiRD/resources/species/human/broadinstitute.org/gnomad/3.0/gnomad.genomes.r3.0.sites.vcf.gz"
			gnomad_exome = ""
	                somalier_sites_url = "https://github.com/brentp/somalier/files/3412456/sites.hg38.vcf.gz"
			dbsnp = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/hs38me_all_chr_dbsnp-146.vcf.gz"
			snpeff_database_name = "GRCh38.86"
			mapability_bigwig = "/LAB-DATA/BiRD/resources/species/human/ucsc/hg38/hoffmanMappability/k24.Umap.MultiTrackMappability.bw"
			rmsk_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/rmsk.txt.gz"
			encode_exclude_url = "https://github.com/Boyle-Lab/Blacklist/blob/master/lists/hg38-blacklist.v2.bed.gz?raw=true"
			lcr_url = "https://github.com/lh3/varcmp/blob/master/scripts/LCR-hs38.bed.gz?raw=true"
			simple_repeats_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/simpleRepeat.txt.gz"
			cadd_tabix = ""

			gff3 = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/Homo_sapiens.GRCh38.105.chr_patch_hapl_scaff.gff3.gz"
			gtf = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/Homo_sapiens.GRCh38.105.chr_patch_hapl_scaff.gtf.gz"

			known_genes_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/wgEncodeGencodeBasicV43.txt.gz"
			spliceai_annotation_type = "grch38"
			dgv_url = "http://dgv.tcag.ca/dgv/docs/GRCh38_hg38_variants_2020-02-25.txt"
			}

		human_g1k_v37 {
			name = "human_g1k_v37"
			ucsc_name = "hg19"
			fasta = "/LAB-DATA/BiRD/resources/species/human/broadinstitute.org/bundle/1.5/b37/human_g1k_v37.fasta"
			snpeff_database_name = "GRCh37.75"
			mapability_bigwig = "/LAB-DATA/BiRD/resources/species/human/ucsc/hg19/encodeDCC/wgEncodeDukeMapabilityUniqueness35bp.bigWig"
			rmsk_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/rmsk.txt.gz"
			}
		}
	}



