params {
	genomes {
		hs37d5  {
			/** id for this genome */
		 	name = 'hs37d5'
			/** name at ucsc */
			ucsc_name = "hg19"
			/** path to indexed fasta file */
			fasta = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/hs37d5_all_chr.fasta"
			/** indexed genome for BWA */
			bwa_reference = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/hs37d5_all_chr.fasta"
			/** gnomad VCF for genome */
			gnomad_genome = "/LAB-DATA/BiRD/resources/species/human/broadinstitute.org/gnomad/release-181127/2.1/vcf/genomes/gnomad.genomes.r2.1.sites.vcf.gz"
			/** gnomad VCF for exomes */
			gnomad_exome = "/LAB-DATA/BiRD/resources/species/human/broadinstitute.org/gnomad/release-181127/2.1/vcf/exomes/gnomad.exomes.r2.1.sites.vcf.gz"
			/** sites for somalier */
			somalier_sites_url = "https://github.com/brentp/somalier/files/3412453/sites.hg19.vcf.gz"
			/** dbsnp , mostly for gatk */
			dbsnp = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/20210605.hs37d5.ID.sites.vcf.gz"
			/** database for snpEff */
			snpeff_database_name = "GRCh37.75"
			/** mapability local file  as bigwig */
			mapability_bigwig = "/LAB-DATA/BiRD/resources/species/human/ucsc/hg19/encodeDCC/wgEncodeDukeMapabilityUniqueness35bp.bigWig"
			/** URL for UCSC reapeat masker */
			rmsk_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/rmsk.txt.gz"
			/** URL for encode exclude */
			encode_exclude_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg19/encodeDCC/wgEncodeMapability/wgEncodeDukeMapabilityRegionsExcludable.bed.gz"
			/** URL for low complexity regions */
			lcr_url = "https://github.com/lh3/varcmp/blob/master/scripts/LCR-hs37d5.bed.gz?raw=true"
			/** URL for simple repeats */
			simple_repeats_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/simpleRepeat.txt.gz"
			/** module for vep */
			 vep_module = "ensembl-vep/104.3"
			/** how to invoke vep */
                        vep_invocation="vep --cache --format vcf --force_overwrite --no_stats --offline  --dir_cache /LAB-DATA/BiRD/resources/apps/vep  --species homo_sapiens --cache_version 91 --assembly GRCh37  --fasta /LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/hs37d5_all_chr.fasta --use_given_ref --vcf "
			/** local CADD as tabix */
			cadd_tabix = "/LAB-DATA/BiRD/resources/species/human/krishna.gs.washington.edu/download/CADD/v1.6/whole_genome_SNVs.tsv.gz"
			/** gff3 indexed with tabix */
			gff3 = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/Homo_sapiens.GRCh37.87.chr_patch_hapl_scaff.gff3.gz"
			/** gtf indexed with tabix */
			gtf =  "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs37d5/Homo_sapiens.GRCh37.87.chr_patch_hapl_scaff.gtf.gz"
			/** known gene as tabix */
			known_genes_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/wgEncodeGencodeBasicV43lift37.txt.gz"
			/** db for spliceAU */
			spliceai_annotation_type = "grch37"
			/** gnomad SV url */
			gnomad_sv_url = "https://storage.googleapis.com/gcp-public-data--gnomad/papers/2019-sv/gnomad_v2.1_sv.sites.bed.gz"
			/** dgv url */
			dgv_url = "http://dgv.tcag.ca/dgv/docs/GRCh37_hg19_variants_2020-02-25.txt"
			/** genetics map for shapeit */
			shapeit_genetic_map = "https://github.com/odelaneau/shapeit4/raw/master/maps/genetic_maps.b37.tar.gz"
			/** genetics map for beagle */
			beagle_genetic_map = "https://bochet.gcc.biostat.washington.edu/beagle/genetic_maps/plink.GRCh37.map.zip"
			}

		hs38me  {
		 	name = 'hs38me'
			ucsc_name = "hg38"
			fasta = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/hs38me_all_chr.fasta"
			bwa_reference = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/hs38me_all_chr.fasta"
			gnomad_genome = "/LAB-DATA/BiRD/resources/species/human/broadinstitute.org/gnomad/3.0/gnomad.genomes.r3.0.sites.vcf.gz"
			gnomad_exome = ""
	                somalier_sites_url = "https://github.com/brentp/somalier/files/3412456/sites.hg38.vcf.gz"
			dbsnp = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/hs38me_all_chr_dbsnp-146.vcf.gz"
			snpeff_database_name = "GRCh38.86"
			mapability_bigwig = "/LAB-DATA/BiRD/resources/species/human/ucsc/hg38/hoffmanMappability/k24.Umap.MultiTrackMappability.bw"
			rmsk_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/rmsk.txt.gz"
			encode_exclude_url = "https://github.com/Boyle-Lab/Blacklist/blob/master/lists/hg38-blacklist.v2.bed.gz?raw=true"
			lcr_url = "https://github.com/lh3/varcmp/blob/master/scripts/LCR-hs38.bed.gz?raw=true"
			simple_repeats_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/simpleRepeat.txt.gz"
			cadd_tabix = ""

			gff3 = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/Homo_sapiens.GRCh38.105.chr_patch_hapl_scaff.gff3.gz"
			gtf = "/LAB-DATA/BiRD/resources/species/human/cng.fr/hs38me/Homo_sapiens.GRCh38.105.chr_patch_hapl_scaff.gtf.gz"

			known_genes_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/wgEncodeGencodeBasicV43.txt.gz"
			spliceai_annotation_type = "grch38"
			dgv_url = "http://dgv.tcag.ca/dgv/docs/GRCh38_hg38_variants_2020-02-25.txt"

			shapeit_genetic_map = "https://github.com/odelaneau/shapeit4/raw/master/maps/genetic_maps.b38.tar.gz"
			/** genetics map for beagle */
			beagle_genetic_map = "https://bochet.gcc.biostat.washington.edu/beagle/genetic_maps/plink.GRCh38.map.zip"
			}

		human_g1k_v37 {
			name = "human_g1k_v37"
			ucsc_name = "hg19"
			fasta = "/LAB-DATA/BiRD/resources/species/human/broadinstitute.org/bundle/1.5/b37/human_g1k_v37.fasta"
			snpeff_database_name = "GRCh37.75"
			mapability_bigwig = "/LAB-DATA/BiRD/resources/species/human/ucsc/hg19/encodeDCC/wgEncodeDukeMapabilityUniqueness35bp.bigWig"
			rmsk_url = "https://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/rmsk.txt.gz"
			}

		rotavirus {
			name = "rotavirus"
			fasta = "/LAB-DATA/BiRD/users/lindenbaum-p/src/jvarkit-git/src/test/resources/rotavirus_rf.fa"
			bwa_reference = "/LAB-DATA/BiRD/users/lindenbaum-p/src/jvarkit-git/src/test/resources/rotavirus_rf.fa"
			}
		}
	}



