params {
	pihat {
		/** apply those filters when processing VCF */
		filters = " --apply-filters '.,PASS' "
		/** min MAX */
		MAF = 0.1
		/** min genotype quality */
		min_GQ = 20
		/** max fraction of missing */
		f_missing = 0.05
		/** min DEPTH */
		min_DP = 10
		/** max DEPTH */
		max_DP = 300
		/** pihat treshold */
		pihat_max = 0.05
		/** only consider those chromosomes */
		contig_regex = "(chr)?[0-9XY]+"
		/** blacklisted regions */
		blacklisted = ""
		}
	}

