includeConfig 'pihat.config'

params {
	wgselect {
		/* when splitting vcf into parts, make interval of that distance */
		distance = "10mb"
		/* when splitting vcf into parts, don't leave variant if distance lower that this value */
		min_distance = "100"
	
		/* apply gatk hard filtering ignore if < 0 */
		gatk_hardfiltering_percentile = 0.001
	
		f_missing = params.pihat.f_missing

		max_alleles_count = 3
		polyx = 10
		with_kinship = false
		fisherh = -1.0
		with_pihat = false
		soacn = "SO:0001629,SO:0001818"
		gnomadPop = "AF_nfe"
		gnomadAF = 0.01 
		minGQsingleton = 90
		lowGQ = 50
		maxmaf = 0.1
		annot_method = "snpeff"
		/** remove variant mean called genotype depth is tool low */
		minDP = 10
		/** remove variant mean called genotype depth is tool high */
		maxDP = 300
		/** ALL genotypes carrying a ALT must have a Genotype Quality GQ >= x. Ignore if x <=0 */
		lowGQ = 70
		/** Count variants at each step of wgselect * /
		with_count = true
		/** remove variant on autosome if no HET and found at least one HOM_VAR * /
		with_homvar = true
		/** remove variant if internal MAF is too high. Disable if < 0 */
		maxmaf = 0.05
		/** fisher horizontal : remove variant if fisher test per variant is lower than 'x'. Disable if <0. * /
		fisherh = 0.05
		/** remove variants with HW test. Ask Floriane :-P . Disable if <0. */
		hwe = 0.000000000000001
		/** Apply bcftools contrast on VCF * /
		with_contrast = true
		/** inverse output of vcffilterso */
		inverse_so = false
		/** remove variant if singleton has bad GQ < x */
		minGQsingleton = 99
		/** emove variant if HET singleton has AD ratio out of x< AD/ratio < (1.0-x) */
		minRatioSingleton  = 0.2
		/** how to annotate ? 'vep' or 'snpeff' */
		annot_method = "snpeff"
		/** Discard variants having CADD phred treshold < 'x'. Ignore if 'x' < 0.0 or --wgselect_cadd_tabix is not defined. */
		cadd_phred = -1.0
		/** remove gnomad hg19 expression */
		gnomadgenomefilterexpr_hg19 = "FILTER~\"GNOMAD_GENOME_BAD_AF\"|| FILTER~\"GNOMAD_GENOME_InbreedingCoeff\"|| FILTER~\"GNOMAD_GENOME_RF\""
		/** remove gnomad hg38 expression */
		gnomadgenomefilterexpr_hg38 = "FILTER~\"GNOMAD_GENOME_BAD_AF\"|| FILTER~\"GNOMAD_GENOME_InbreedingCoeff\"|| FILTER~\"GNOMAD_GENOME_AS_VQSR\""

		cadd_phred= -1.0
		}
	}
