params {
    prefix=""
    outdir = "results"
    help = false
    fasta = null
    bed = null
    truth_vcf = null
    call_vcf = null
    treshold = 0.9
    min_af  = 0.0
    max_af = 0.01
}

includeConfig "../../../config/nextflow.config"


process {
    errorStrategy = "terminate"
    
   withName: "BED_CLUSTER" {
        ext.args = {"--size 100kb"}
    }
     withName: "BCFTOOLS_MERGE" {
        cpus = 10
	ext.args1  = {"--missing-to-ref"}
     }

    withName: "JVARKIT_VCFGNOMAD" {
        ext.args1 = "--apply-filters '.,PASS' --type snps -m 2 -M 2 "
        ext.min_af = {"${params.min_af as double}"}
		ext.max_af = {"${params.max_af as double}"}
		ext.fields = "AF_nfe"
        ext.buffer_size = 100000
        ext.args2 = "--apply-filters '.,PASS' --type snps -m 2 -M 2 "
    }

     withName: "BCFTOOLS_QUERY" {
        ext.suffix="bed"
        ext.format='%CHROM\t%POS0\t%END\\n'
        ext.cmd1 = " | sort -t '\t' -k1,1 -k2,2n | bedtools merge"
    }


    withName: "PLOT_CONCORDANCE" {
        ext.treshold = {"${params.treshold}"}
    }

    withName: "MERGE_CONCORDANCES" {
        publishDir = [
                    path: { "${params.outdir}" },
                    mode: "copy",
                    saveAs: { filename -> "${params.prefix}${filename}" },
                    overwrite : true
                    ]
        }
    withName: "GHOSTSCRIPT_MERGE" {
        publishDir = [
                    path: { "${params.outdir}" },
                    mode: "copy",
                     pattern : '*.{pdf}',
                    saveAs: { filename -> "${params.prefix}${filename}" },
                    overwrite : true
                    ]
        }
  
    withName: "MULTIQC" {
        publishDir = [
                path: { "${params.outdir}/multiqc" },
                mode: "copy",
                pattern : '*.{zip}',
                overwrite : true
                ]
        }
   

}
