plugins {
  id 'nf-schema@2.6.1'
}

params {
	help = false
	outdir = "results"
	fasta  = null
	/** indexed VCF or a list of vcf with the .list suffix */
	vcf = null
	/**  cases */
	cases = null
	/**  controls */
	controls = null
	/* limit to that bed */
	bed = null

	gatk_hardfiltering_percentile = 0.001

	cluster_size  = 1000000
	}


includeConfig("../../subworkflows/wgselect/nextflow.config")
includeConfig "../../config/nextflow.config"



process {

withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
        ext.max_to_merge = 1
	}

withName: "BEDTOOLS_MAKEWINDOWS" {
	ext.args = {"-w ${(params.cluster_size as int) +10} -s ${params.cluster_size}"}
	}


withName:  "BED_CLUSTER" {
	ext.args = {"--size ${params.cluster_size} --chromosome"}
	}

/* withName: "WGSELECT_02:VCF_TO_BED" {
        ext.with_header = false
        }
withName: "WGSELECT_02:JVARKIT_VCF_TO_INTERVALS:VCF_TO_BED" {
        ext.with_header = false
        }
*/

withName : "WGSELECT_02:JVARKIT_GATK_HARD_FILTERING_01:FOR_EACH_INTERVAL" {
	ext.percentile= {params.gatk_hardfiltering_percentile}
	}

withName : "WGSELECT_02:JVARKIT_GATK_HARD_FILTERING_01:CONCAT_TABLES" {
	ext.percentile= {params.gatk_hardfiltering_percentile}
	}


withName: "WGSELECT_02:WGSELECT_01:WGSELECT_EXCLUDE_BED_01:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.type = "N"
	ext.max_to_merge = 1
	}

withName: "WGSELECT_02:JVARKIT_VCF_TO_INTERVALS:CONCAT_FILES_01" {
	ext.suffix = ".bed"
	}


withName: "WGSELECT_02:JVARKIT_GATK_HARD_FILTERING_01:CONCAT_TABLES" {
                publishDir = [
		path:"${params.outdir}",
		mode: "copy",
		pattern : '*.{pdf}',
		overwrite : true
                ]
        }


withName: "WGSELECT_02:WGSELECT_01:DIGEST_VARIANT_LIST" {
                publishDir = [
		path:"${params.outdir}",
		mode: "copy",
		pattern : '*.tsv',
		overwrite : true
                ]
        }

withName: "WGSELECT_02:WGSELECT_01:BCFTOOLS_CONCAT_CONTIGS:LEVEL2" {
                publishDir = [
		saveAs: { filename -> "${params.prefix}$filename" },
                path:"${params.outdir}/vcf",
                mode: "copy",
                pattern : '*.{bcf,vcf.gz,tbi,csi}',
                overwrite : true
                ]
        }


}

