plugins {
  id 'nf-schema@2.6.1'
}

params {
	help = false
	outdir = "results"
	fasta  = null
	/** indexed VCF or a list of vcf with the .list suffix */
	vcf = null
	/**  cases */
	cases = null
	/**  controls */
	controls = null
	/* limit to that bed */
	bed = null
	snpeff_database_directory = null
	with_encode_blacklist = true
	n_variants = 100000
	gnomad = null
	gatk_hard_filters_arguments = null
	mappability_bigwig = null
	id_format = "+'%VKX'"
	soacn = "" // "SO:0001629,SO:0001818"
	gnomadPop = "AF_nfe"
	with_contrast = true
	}


//includeConfig("../../subworkflows/wgselect/nextflow.config")
includeConfig "../../config/nextflow.config"



process {

withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
        ext.max_to_merge = 1
	}




withName:  "SPLIT_N_VARIANTS" {
	ext.awk_expr = {"(\$1 == \"${meta.contig}\")"}
	ext.method = {"--variants-count ${params.n_variants} "}
	ext.prefix = {"${meta.id}.${meta.contig}.${meta1.id}"}
	}


withName : "WGSELECT" {

	ext.id_format = {"${params.id_format}"}
	ext.soacn = {"${params.soacn}"}
	ext.gnomadPop = {"${params.gnomadPop}"}
	ext.with_contrast = {"${params.with_contrast}"}
}

withName : "BCFTOOLS_CONCAT" {
	cpus  = 2
    publishDir = [
        path: {"${params.outdir}"},
        saveAs: { filename -> "${params.prefix}$filename" },
        mode: "copy",
        pattern : '*.{bcf,vcf.gz,tbi,csi,md5}',
        overwrite : true
        ]
    }

withName: "JVARKIT_VCF_FLATTEN" {
	ext.args2= "-X '+1kb,+10kb,+100kb,ANN/GeneId,ANN/FeatureId' "
}

withName : "BCFTOOLS_CONTRAST" {
	publishDir = [
			path: {"${params.outdir}"},
			saveAs: { filename -> "${params.prefix}$filename" },
			mode: "copy",
			pattern : '*.{bcf,vcf.gz,tbi,csi}',
			overwrite : true
			]
	}

withName : "BCFTOOLS_GET_METHOD" {
	ext.format = "%INFO/METHOD\\n"
	ext.cmd1 = " | sort | uniq  "
	ext.suffix = "txt"
}


withName : "EXTRACT_TO_QQMAN" {
	ext.args1 = {" -i 'INFO/METHOD = \"${meta.method}\"' "}
	ext.format = "%CHROM\t%CHROM:%POS\t%POS\t%INFO/PASSOC\\n"
	ext.cmd1 = " | awk 'BEGIN {printf(\"CHR\\tSNP\\tBP\\tP\\n\");} {print;}' | gzip "
	ext.suffix = "tsv.gz"
}


withName: "QQMAN" {
       publishDir = [
                path:"${params.outdir}",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{png,pdf}',
                overwrite : true
                ]
	}


withName: "MQC1" {
       publishDir = [
                path:"${params.outdir}/multiqc",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}

withName: "MQC2" {
       publishDir = [
                path:"${params.outdir}/multiqc_per_pop",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}





}

