plugins {
  id 'nf-schema@2.6.1'
}

params {
	help = false
	outdir = "results"
	fasta  = null
	/** indexed VCF or a list of vcf with the .list suffix */
	vcf = null
	/**  cases */
	cases = null
	/**  controls */
	controls = null
	/* limit to that bed */
	bed = null
	snpeff_database_directory = null
	with_encode_blacklist = true
	n_variants = 100000
	gnomad = null
	gatk_hard_filters_arguments = null
	mappability_bigwig = null
	}


//includeConfig("../../subworkflows/wgselect/nextflow.config")
includeConfig "../../config/nextflow.config"



process {

withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
        ext.max_to_merge = 1
	}



withName:  "SPLIT_N_VARIANTS" {
	ext.awk_expr = {"(\$1 == \"${meta.contig}\")"}
	ext.method = {"--variants-count ${params.n_variants} "}
	ext.prefix = {"${meta.id}.${meta.contig}.${meta1.id}"}
	}


withName : "BCFTOOLS_CONCAT" {
    publishDir = [
        path: {"${params.outdir}"},
        saveAs: { filename -> "${params.prefix}$filename" },
        mode: "copy",
        pattern : '*.{bcf,vcf.gz,tbi,csi,md5}',
        overwrite : true
        ]
    }

withName: "MQC1" {
       publishDir = [
                path:"${params.outdir}/multiqc",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}

withName: "MQC2" {
       publishDir = [
                path:"${params.outdir}/multiqc_per_pop",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}





}

