
plugins {
  id 'nf-schema@2.6.1'
}

includeConfig "../../config/common.schema.config"



params {
	vcf=  null
	fasta=  null
  prefix = ""
  outdir ="results"
  help = false
	}
includeConfig "../../config/nextflow.config"

/** END_PARAMS */

process {

withName: "LIFTOVER_VCF" {
  memory = {10.GB*task.attempt}
  ext.args1 = {"--regions \"${meta.contig}\""}
  ext.prefix = {"${meta.id}.${meta.contig}"}
}

withName : "MERGE_VCFS_LIFTED" {
  publishDir = [
      path:"${params.outdir}",
      saveAs: { filename -> "${params.prefix}LIFTED.${filename}" },
      mode: "copy",
      pattern : '*.{vcf.gz,tbi,bcf,csi,md4}',
      overwrite : true
      ]
}

withName : "MERGE_VCFS_FAIL" {
  publishDir = [
      path:"${params.outdir}",
      saveAs: { filename -> "${params.prefix}FAIL.${filename}" },
      mode: "copy",
      pattern : '*.{vcf.gz,tbi,bcf,csi,md4}',
      overwrite : true
      ]
}



}
