

params {
	/* csv file with header: sample,bam(,fasta,fai,dict) */
	samplesheet="NO_FILE"
        /** file containing accession file of contaminantes or use default if null */
        acn_file = null
	}



process {


         withName: "CONTAMINATIONS:MAP_UNMAPPED" {
                memory = {10.GB * task.attempt}
         }

        withName: "MULTIQC" {
                publishDir = [
                        path: { "${params.outdir}/multiqc" },
                        mode: "copy",
                        pattern : '*.{zip}',
                        overwrite : true
                        ]
        }


}


