params {
	prefix=""
	outdir = "results"
	help = false
    dict = null
    fasta = null
    gtf = null
	}

includeConfig "../../config/nextflow.config"

process {
	withName : "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
		ext.output_type = "ACGT"
		ext.max_to_merge = 1
    }

    withName : "LINUX_SPLIT_GTF" {
        ext.filter = "awk -F '\t' '(\$3 ~ /^(gene|transcript|exon|CDS|cds)\$/)'"
        ext.method = "--lines=1000"
        ext.args1 = " --filter='gzip > \$FILE'"
        ext.suffix = ".gtf.gz"
    }

    withName : "GTF_TO_XML" {
        ext.args1 = {" --simple "}
    }

    withName : "JENA_ARQ_SO" {
        ext.args1 = "--results=XML"
    }

    withName: "SPARQLSO2XSL" {
        ext.prefix = "mod.rec.biotype"
        ext.suffix = "xsl"
    }
     withName: "GENE2RDF_XSL" {
        ext.suffix = "rdf.gz"
    }
}

