image: eclipse-temurin:17-jdk

before_script:
  - env | grep -i PROXY
  - apt-get update -y
  - apt-get install -y make wget curl samtools bcftools tabix bedtools python3
  - (mkdir -p bin && cd bin && curl -s https://get.nextflow.io | bash && chmod +x nextflow)
  - export PATH="${PWD}/bin:${PATH}"
  - nextflow info
  - wget --quiet "https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh" -O ./miniconda.sh
  - /bin/bash ./miniconda.sh -b -p /opt/conda
  - export PATH=/opt/conda/bin:${PATH}
  - conda update -y conda

stages:
  - test

test-job:
  stage: test
  script:
    - make -C tests

