image: eclipse-temurin:17-jdk

before_script:
  - env | grep -i PROXY
  - apt-get update -y
  - apt-get install -y make wget git curl samtools bcftools tabix bedtools python3 bzip2 unzip zip bwa file xsltproc
  - (mkdir -p bin && cd bin && curl -s https://get.nextflow.io | bash && chmod +x nextflow)
  - export PATH="${PWD}/bin:${PATH}"
  - nextflow info
  - (mkdir -p bin && cd bin && curl -fsSL https://get.nf-test.com | bash && chmod +x nf-test)
  - nf-test version
  - curl -Ls https://micro.mamba.pm/api/micromamba/linux-64/latest | tar -xvj bin/micromamba
  - export PATH="${PWD}/bin:${PATH}"
  - eval "$(./bin/micromamba shell hook -s posix)"
  - export NXF_ANSI_LOG=false
  - df -h
  - arch
  - mkdir -p ${HOME}/CONDA
  - export NXF_CONDA_CACHEDIR=${HOME}/CONDA
  - ( git clone -b dev --recurse-submodules --single-branch "https://gitlab.univ-nantes.fr/pierre.lindenbaum/jvarkit.git" && cd jvarkit && make  && mv -v dist/jvarkit.jar ${HOME}/ )

stages:
  - test

test-job:
  stage: test
  script:
    - (cd tests && make )
  artifacts:
    paths:
        - tests/.nextflow.log



