
params {
	prefix=""
	ucsc_name = "undefined"
	outdir = "results"
    }
includeConfig "../../config/nextflow.config"

params {
	n_samples = 10
	random_seed = 0
	}


process {

	withName: "WGSIM" {
       publishDir = [
                path:"${params.outdir}/FASTQ",
				saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{gz}',
                overwrite : true
                ]
       }

	withName: "MAKE_SAMPLESHEET" {
       publishDir = [
                path:"${params.outdir}/FASTQ",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{csv}',
                overwrite : true
                ]
       }

}
