params {
	prefix=""
	fasta = null
	outdir = "results"
	help = false
	}

includeConfig "../../config/nextflow.config"

params {
	/** input sample sheet */
	samplesheet = null

	/** limit to those contigs */
	regex_contig = "(chr)?[0-9XY]*"

	/** restrict to that tabix-indexed bed */
	bed = "NO_FILE"

	/** try to merge manta files at the end ? */
	with_merge_manta_vcf = false

	/** manta arguments */
	runWorkflow_args = "--quiet"

	with_truvari = true
	}

/** END PARAMS */


process {

withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
        ext.max_to_merge = 1
	}

withName: "MANTA_CONVERT_INVERSION" {
         publishDir = [
                path: {"${params.outdir}/samples/${sample}"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi,md5}',
                overwrite : true
                ]
	}
withName: "MANTA:TRUVARI_COLLAPSE" {
         publishDir = [
                path: {"${params.outdir}/truvari/${sample}"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi,md5}',
                overwrite : true
                ]
	}
}

