params {
	prefix=""
	fasta = "null
	outdir = "results"
	help = false

	}

includeConfig "../../config/nextflow.config"

params {
	/** input sample sheet */
	samplesheet = null

	/** limit to those contigs */
	regex_contig = "(chr)?[0-9XY]*"

	/** restrict to that tabix-indexed bed */
	bed = "NO_FILE"

	/** try to merge manta files at the end ? */
	with_merge_manta_vcf = false

	/** manta arguments */
	runWorkflow_args = "--quiet"
	}

/** END PARAMS */


process {

withName: "APPLY_MANTA_GERMLINE_SINGLE" {
         publishDir = [
                path: {"${params.outdir}/samples/${sample}"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
                overwrite : true
                ]
	}
}

