
params {
	help=false
	outdir="results"
	prefix="NO_PREFIX"
	fasta= null
	ucsc_name = "undefined"
	}
	
includeConfig "../../../config/nextflow.config"

params {
	/** path to samplesheet csv BAM/CRAMS */
	samplesheet =null
	/** optional pedigree */
	pedigree = null
	/**train this population vcf to create a sites.vcf.gz instead of somalier default */
	population_vcf = null
	/** use those VCF for sites instead of somalier default */
	user_sites = null
	}

/** END_PARAMS */


process {
	withName: "SOMALIER_BAMS:RELATE" {
                publishDir = [
	                path: { "${params.outdir}/SOMALIER" },
			saveAs: { filename -> "${params.prefix}$filename" },
			mode: "copy",
			pattern : '*.zip',
			overwrite : true
                ]
        }


	withName: "MULTIQC:MQC1" {
                publishDir = [
	                path: { "${params.outdir}/MULTIQC" },
			mode: "copy",
			pattern : '*.zip',
			overwrite : true
                ]
        }

	withName: "MULTIQC:MQC1" {
		   publishDir = [
		            path:"${params.outdir}/multiqc/all",
					saveAs: { filename -> "${params.prefix}${filename}" },
		            mode: "copy",
		            pattern : '*.{zip,html}',
		            overwrite : true
		            ]
		}

	withName: "MULTIQC:MQC2" {
		   publishDir = [
		            path:"${params.outdir}/multiqc/per_pop",
					saveAs: { filename -> "${params.prefix}${filename}" },
		            mode: "copy",
		            pattern : '*.{zip,html}',
		            overwrite : true
		            ]
		}
}


