
plugins {
  id 'nf-schema@2.0.0'
}

conda.enabled=true
conda.useMicromamba=true

params {
	help=false
	outdir="NO_FILE"
	prefix="NO_PREFIX"
	fasta="NO_FILE"
	fai="NO_FILE"
	dict="NO_FILE"
	/** path to indexed BAM/CRAMS */
	samplesheet = "NO_FILE"
	/** optional pedigree */
	pedigree = null
	/** use those VCF for sites instead of somalier default */
	user_sites = null
	}

/** END_PARAMS */


process {
	withName: "SOMALIER_BAMS:SOMALIER_BAMS:RELATE_SOMALIER" {
                publishDir = [
	                path: { "${params.publishDir}/results/SOMALIER" },
			mode: "copy",
			pattern : '*.zip',
			overwrite : true
                ]
        }


	withName: "MULTIQC:APPLY_MULTIQC" {
                publishDir = [
	                path: { "${params.publishDir}/results/MULTIQC" },
			mode: "copy",
			pattern : '*.zip',
			overwrite : true
                ]
        }


}


