
plugins {
  id 'nf-schema@2.0.0'
}


params {
	help=false
	outdir="NO_FILE"
	prefix="NO_PREFIX"
	fasta="NO_FILE"
	fai="NO_FILE"
	dict="NO_FILE"
	/** path to indexed BAM/CRAMS */
	samplesheet = "NO_FILE"
	/** optional pedigree */
	pedigree = null
	/** use those VCF for sites instead of somalier default */
	user_sites = null
	}

/** END_PARAMS */


process {
	withName: "RELATE_SOMALIER" {
                publishDir = [
	                path: { "${params.outdir}/SOMALIER" },
			saveAs: { filename -> "${params.prefix}$filename" },
			mode: "copy",
			pattern : '*.zip',
			overwrite : true
                ]
        }


	withName: "MULTIQC:APPLY_MULTIQC" {
                publishDir = [
	                path: { "${params.outdir}/MULTIQC" },
			mode: "copy",
			pattern : '*.zip',
			overwrite : true
                ]
        }


}


