plugins {
  id 'nf-schema@2.6.1'
}

params {
	fasta = null
	gtf=null
	ucsc_name = null
	dbsnp = null
	with_qc = true
	with_multiqc = true
	jvarkit_filter = null
	with_annotation = false
	with_bcftools_norm = false
	soacn = ""
	snpeff_database_directory = null
	gnomad=null
	with_vcf2table = false
	with_guess_ploidy = true
	}
includeConfig "../../../config/nextflow.config"

params {
	/** required file , CSV, : bam(bai,fasta,fai,sex) */
	samplesheet = null
	bed = null


	makewindows_args = "-w 1000000 -s 999900"
        bed_cluster_args = "--size 1Mb " // callers like gatk+gvcf
        hapcaller_bed_cluster_args="--size 50kb --consecutive --chromosome"
	method = "gvcf" // how to analyse : gvcf
	gvcf_merge_method="combinegvcfs" // or glnexus
	divide_and_conquer  = false //use dnc where possible
	glnexus_config = "DeepVariantWGS"
	splitx_njobs = 10 //dnc : split bed file into x parts
	}


validation {
	help {
		showHidden = false
		 enabled = true
		}
	ignoreParams = []
	logging {
		unrecognisedParams = "warn"
		unrecognisedHeaders = "warn"
		}
}


process {
	
withName: "GTF_TO_EXOME" {
	ext.what = "exon"
	ext.slop = 10
	ext.extra_cmd = "grep -F protein_coding"
	}

withName : "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
	ext.max_to_merge = 1
}


withName: "HAPLOTYPECALLER:GLNEXUS_GENOTYPE" {
	ext.config = {"${params.glnexus_config}"}
	}

withName: "HAPLOTYPECALLER:BEDTOOLS_MAKEWINDOWS" {
	ext.args = {"-w 50000 -s 49900"}
	}
withName: "HAPLOTYPECALLER:BED_CLUSTER" {
	ext.args = {"${params.hapcaller_bed_cluster_args}"}
	}

withName: "BEDTOOLS_MAKEWINDOWS" {
		ext.args = {params.makewindows_args}
		}
/** for callers like hapcaller+gvcf */

withName: "BED_CLUSTER" {
		ext.args = {params.bed_cluster_args}
		}



withName: "HAPLOTYPECALLER:FIND_GVCF_BLOCKS" {
	
	ext.args1 = "--block-size 50kb --merge-size 1kb"
	}


withName: "HAPLOTYPECALLER:BCFTOOLS_CONCAT" {
   publishDir = [
        path:"${params.outdir}/haplotypecaller",
		saveAs: { filename -> "${params.prefix}${filename}" },
        mode: "copy",
        pattern : '*.{bcf,vcf.gz,tbi,csi,md5}',
        overwrite : true
        ]
	}


withName: "GATK_BAM2VCF:BCFTOOLS_CONCAT|HAPLOTYPECALLER_DIRECT:SIMPLE_CALLING:BCFTOOLS_MERGE" {
   publishDir = [
        path:"${params.outdir}/haplotypecaller",
		saveAs: { filename -> "${params.prefix}${filename}" },
        mode: "copy",
        pattern : '*.{bcf,vcf.gz,tbi,csi,md5}',
        overwrite : true
        ]
	}

withName: "CONCAT_ANNOT" {
	publishDir = [
        path:"${params.outdir}/annot",
		saveAs: { filename -> "${params.prefix}${filename}" },
        mode: "copy",
        pattern : '*.{bcf,vcf.gz,tbi,csi,md5}',
        overwrite : true
        ]
	}

withName: "MULTIQC:MQC1" {
       publishDir = [
                path:"${params.outdir}/multiqc/all",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}


withName: "MULTIQC:MQC1" {
       publishDir = [
                path:"${params.outdir}/multiqc/all",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}

withName: "MULTIQC:MQC2" {
       publishDir = [
                path:"${params.outdir}/multiqc/per_pop",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}	

withName: "MULTIQC" {
       publishDir = [
                path:"${params.outdir}/multiqc",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}	

withName: "GATK_BAM2VCF_DNC:DIVIDE_AND_CONQUER1:GATK_BAM2VCF" {
	errorStrategy="ignore"
	}
withName: "GATK_BAM2VCF_DNC:DIVIDE_AND_CONQUER2:GATK_BAM2VCF" {
	errorStrategy="ignore"
	}
withName: "GATK_BAM2VCF_DNC:DIVIDE_AND_CONQUER3:GATK_BAM2VCF" {
	errorStrategy="ignore"
	}
withName: "GATK_BAM2VCF_DNC:DIVIDE_AND_CONQUER4:GATK_BAM2VCF" {
	errorStrategy="ignore"
	}
withName: "GATK_BAM2VCF_DNC:DIVIDE_AND_CONQUER5:GATK_BAM2VCF" {
	errorStrategy="ignore"
	}
withName: "GATK_BAM2VCF_DNC:DIVIDE_AND_CONQUER6:GATK_BAM2VCF" {
	errorStrategy="ignore"
	}
withName: "BED_SPLITX" {
	ext.njobs={params.splitx_njobs as int}
	}
withName: "ANNOT_SNV:JVARKIT_VCFGNOMAD" {
	ext.max_af  = 0.01
	}
withName: "ANNOT_SNV:JVARKIT_VCFFILTERSO" {
	ext.args2 = "--filterout BAD_SO"
	ext.accessions = {"${params.soacn}"}
	}

withName: "VCF2TXT|VCF2HTML" {
	ext.args1 = "--apply-filters 'PASS,.'"
	publishDir = [
        path:"${params.outdir}",
	saveAs: { filename -> "${params.prefix}${filename}" },
        mode: "copy",
        pattern : '*.{html,txt}',
        overwrite : true
        ]
	}

}

/*
profiles {
	"nautilus" {
		process {
			withName: "GATK_BAM2VCF:BAM2VCF|HAPLOTYPECALLER:HAPCALLER|HAPLOTYPECALLER:COMBINE_GENOTYPE_GVCFS:COMBINE_GVCFS:HC_COMBINE2|HAPLOTYPECALLER:COMBINE_GENOTYPE_GVCFS:COMBINE_GVCFS:HC_COMBINE1|HAPLOTYPECALLER:FIND_GVCF_BLOCKS|HAPLOTYPECALLER:HAPCALLER" {
				array=100
			}
		}
	}
	

}
*/
