plugins {
  id 'nf-schema@2.6.1'
}
includeConfig "../../config/common.schema.config"

params {
        fasta = null
        help = false
        outdir = "results"
        prefix = ""
        vcf = null
	}

includeConfig "../../config/nextflow.config"





process {


withName: "ZOOOORG" {
	publishDir = [
          path:{"${params.outdir}"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{html}',
          mode: "copy",
          overwrite : true
          ]

	}

}
