
plugins {
  id 'nf-schema@2.6.1'
}


params {
	prefix=""
	fasta = null
	outdir = "results"
	help = false
	vcf = null
	bed = null
	slop  = 100
	min_svlen = 50
	mav_svlen = 1000000
	max_af = 0.01
	hpo = "HP:0001654,HP:0011675"
	}

includeConfig "../../../config/nextflow.config"

process {

withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
        ext.max_to_merge = 1
	}
withName : "GTF_TO_BED" {
	ext.args = "-c 'gtf.feature'"
	ext.awk_expr = {
					def ctg_exp = "\$1 ~ /^(chr)?[0-9XY]+\$/"
					if(params.bed.contains("exon")) return "(${ctg_exp} && \$3==\"exon\")";
					if(params.bed.contains("gene")) return "(${ctg_exp} && \$3==\"gene\")";
					return "(${ctg_exp})";
					}
	ext.cmd1 = {
		if(params.bed.contains("coding")) return "grep -w -F protein_coding";
		return "cat";
		}
	ext.cmd2 = "cut -f1,2,3"
	ext.cmd3 = "bedtools merge"
	}

withName: "BEDTOOLS_SLOP" {
	ext.slop = {"${params.slop}"}
	}
withName: "BCFTOOLS_VIEW" {
	ext.args1 = {"--apply-filters '.,PASS' -e '(SVLEN> ${params.mav_svlen} || SVLEN<${params.min_svlen}  )' "}
	}
withName: "JVARKIT_VCFGNOMADSV" {
	ext.max_af = {"${params.max_af}"}
	}

withName: "BCFTOOLS_VIEW_INV" {
	ext.args1 = {"--apply-filters '.,PASS' -G -i 'SVTYPE=\"INV\"' "}
	}
withName : "BCFTOOLS_QUERY" {
	ext.format = "%CHROM\t%POS\t%END\t%CHROM:%POS-%END\\n"
	ext.cmd1 = "| sort | uniq"
	ext.suffix = "tsv"
	}
withName : "COVERAGE_GRID" {
	// ext.args1 = "--inversion-flag --type SUPPL "
	ext.args1 = " --type SUPPL "
	}
withName: "GHOSTSCRIPT_MERGE" {
	ext.args1 = "-dEPSFitPage  -dDEVICEWIDTHPOINTS=1618  -dDEVICEHEIGHTPOINTS=1000"
	}

withName: "ANNOTSV_APPLY" {
	ext.args1 = {"-benignAF ${params.max_af} -overlap 90 -SVminSize ${params.min_svlen} -hpo ${params.hpo}"}
	}

withName: "PDF_NAVIGATION" {
	publishDir = [
			path:"${params.outdir}/INV",
			mode: "copy",
			saveAs: { filename -> "${params.prefix}$filename" },
			pattern : '*.{zip}',
			overwrite : true
			]
	}
}
