params {
    base = ""
    fasta = null
    help = false
    prefix = ""
    outdir = "results"
    genes = "NO_FILL"
    gtf=null
}

includeConfig "../../config/nextflow.config"

process {
    withName: "SCATTER_INTERVALS_BY_NS" {
        ext.max_to_merge = 1
        ext.output_type = "ACGT"
    }
}