params {
    base = ""
    fasta = null
    help = false
    prefix = ""
    outdir = "results"
    genes = "NO_FILL"
    gtf=null
//    hpo = "HP:0001654,HP:0011675"
//    mav_svlen = 1000000
//    max_af = 0.01
}

includeConfig "../../config/nextflow.config"

process {
    withName: "SCATTER_INTERVALS_BY_NS" {
        ext.max_to_merge = 1
        ext.output_type = "ACGT"
    }

/*
withName : "MERGE_VARIANTS" {
    publishDir = [
        path:"${params.outdir}",
        saveAs: { filename -> "${params.prefix}$filename" },
        mode: "copy",
        pattern : '*.{vcf,vcf.gz,tbi,csi}',
        overwrite : true
        ]
    }*/


withName : "PLOIDY" {
    publishDir = [
        path:"${params.outdir}",
        saveAs: { filename -> "${params.prefix}$filename" },
        mode: "copy",
        pattern : '*.{txt,tsv}',
        overwrite : true
        ]
    }

withName: "BCFTOOLS_QUERY" {
    ext.args1 = "-e 'SVTYPE==\"BND\" || SVTYPE==\"INV\"'"
    ext.format = "%CHROM\t%POS0\t%END\\n"
    ext.cmd1 = "| sort -t '\t' -k1,1 -k2,2n "
    ext.suffix = "bed"
    }

withName: "BEDTOOLS_SLOP" {
    ext.slop = " 2.0"
    ext.args= "-pct"
    }

withName : "BCFTOOLS_MERGE" {
	cpus = 20
	}

withName : "SAMTOOLS_COVERAGE" {
    ext.args1 = "--plot-depth --ascii"
     publishDir = [
        path:"${params.outdir}/SV/PLOTS",
        saveAs: { filename -> "${params.prefix}$filename" },
        mode: "copy",
        pattern : '*.{txt,tsv}',
        overwrite : true
        ]
    }

/*
withName: "ANNOTSV_APPLY" {
	ext.args1 = {"-benignAF ${params.max_af} -overlap 90 -SVminSize ${params.min_svlen} -hpo ${params.hpo}"}
	}
*/
}
