params {
    base = ""
    fasta = null
    help = false
    prefix = ""
    outdir = "results"
    genes = "NO_FILL"
    gtf=null
}

includeConfig "../../config/nextflow.config"

process {
    withName: "SCATTER_INTERVALS_BY_NS" {
        ext.max_to_merge = 1
        ext.output_type = "ACGT"
    }


withName : "MERGE_VARIANTS" {
    publishDir = [
        path:"${params.outdir}",
        saveAs: { filename -> "${params.prefix}$filename" },
        mode: "copy",
        pattern : '*.{vcf,vcf.gz,tbi,csi}',
        overwrite : true
        ]
    }


withName : "PLOIDY" {
    publishDir = [
        path:"${params.outdir}",
        saveAs: { filename -> "${params.prefix}$filename" },
        mode: "copy",
        pattern : '*.{txt,tsv}',
        overwrite : true
        ]
    }

}