

params {
	/* file containing the path to multiple bam files */
	samplesheet="NO_FILE"
	/* optional pedigree , trios will be called using deep variant*/
	pedigree = null
	/* limit to bed */
	bed = null
        
        bed_cluster_args = "--size 10Mb "
        /** prevent large bed records */
        makewindows_args = "-w 10000000 -s 9999900"
        /** extra args for bcftools call */
        bcftools_call_args  = "" //  attention -C trio is disabled https://github.com/samtools/bcftools/blob/develop/mcall.c#L1605C30-L1605C75
	 /** extra args for bcftools merge */
        bcftools_merge_args  = ""
        }



process {
	errorStrategy="finish"

        withName: "JVARKIT_BAM_RENAME_CONTIGS" {
		cpus = 10
                ext.args1 =  {" --fetch-pairs "}
                publishDir = [
                        path: { "${params.outdir}/BAMS/${meta.id}" },
                        mode: "symlink",
                        pattern : '*.{bam,bai}',
                        saveAs: { filename -> "${params.prefix}$filename" },
                        overwrite : true
                        ]
                }
        withName: "BEDTOOLS_MAKEWINDOWS" {
                ext.args = {params.makewindows_args}
                }
        withName: "BED_CLUSTER" {
                ext.args = {params.bed_cluster_args}
                }

        withName: "BCFTOOLS_CALL:CALL" {
                cpus = 10
                array = 100
                ext.args2 = {params.bcftools_call_args} // attention -C trio is disabled https://github.com/samtools/bcftools/blob/develop/mcall.c#L1605C30-L1605C75
        }

        withName: "BCFTOOLS_CALL:BCFTOOLS_MERGE" {
                ext.args1 ={params.bcftools_merge_args}
                cpus = 10
                }

        withName : "COMPILE_VERSIONS" {
                publishDir = [
                        path: { "${params.outdir}" },
                        mode: "copy",
                        pattern : '*.{tsv,csv}',
                        saveAs: { filename -> "${params.prefix}$filename" },
                        overwrite : true
                	]
                }


	withName: "BCFTOOLS_CALL:BCFTOOLS_CONCAT" {
		cpus = 20
                memory = 15.GB
                publishDir = [
                        path: { "${params.outdir}" },
                        mode: "copy",
                        pattern : '*.{bcf,vcf,vcf.gz,csi,tbi}',
                        saveAs: { filename -> "${params.prefix}$filename" },
                        overwrite : true
                        ]
        }

        withName: "MULTIQC" {
                publishDir = [
                        path: { "${params.outdir}/multiqc" },
                        mode: "copy",
                        pattern : '*.{zip}',
                        overwrite : true
                        ]
        }


}


