params {
bed = "NO_FILE"
cryptic_tsv = null
}


process {


withName : "GHOSTSCRIPT_MERGE" {
	 publishDir = [
                path: {"${params.outdir}"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{pdf}',
                overwrite : true
                ]
	}


withName : "CAT_CRYPTIC" {
	 publishDir = [
                path: {"${params.outdir}"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{txt,csv,tsv}',
                overwrite : true
                ]
	}

withName : "CAT_SPLICE_EVENTS" {
	 publishDir = [
                path: {"${params.outdir}"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bed}',
                overwrite : true
                ]
	}


withName: "JVARKIT_BAM_WITHOUT_BAI" {
	//executor = "local"
	errorStrategy = "ignore"
	maxForks = 10
	}

withName: "MULTIQC" {
	memory = "10G"
	 publishDir = [
                path: {"${params.outdir}/multiqc"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{zip}',
                overwrite : true
                ]
	}

}
