

params {
	help = false
	prefix = "prefix"
	/** required file , CSV, : bam(bai,fasta,fai,sex) */
	samplesheet = null
	bed = null
	outdir = "results"

	makewindows_args = "-w 1000000 -s 999900"
    bed_cluster_args = "--size 1Mb " // callers like gatk+gvcf
	method = "gvcf" // how to analyse : gvcf
	}

process {

withName : "SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
	ext.max_to_merge = 1
}

withName: "BEDTOOLS_MAKEWINDOWS" {
		ext.args = {params.makewindows_args}
		}
/** for callers like hapcaller+gvcf */

withName: "BED_CLUSTER" {
		ext.args = {params.bed_cluster_args}
		}

withName: "HAPLOTYPECALLER:HAPCALLER" {
	array = 100
	}

withName: "HAPLOTYPECALLER:FIND_GVCF_BLOCKS" {
	array = 100
	ext.args1 = "--block-size 50kb --merge-size 1kb"
	}

withName: "HAPLOTYPECALLER:COMBINE_GENOTYPE_GVCFS:COMBINE_GVCFS:HC_COMBINE1" {
	array = 100
	}

withName: "HAPLOTYPECALLER:COMBINE_GENOTYPE_GVCFS:COMBINE_GVCFS:HC_COMBINE2" {
	array = 100
	}



}
