plugins {
  id 'nf-schema@2.6.1'
}

includeConfig "../../../config/common.schema.config"


params {
	/** file prefix */
	prefix = ""
	/** output directory */
	outdir = "results"
	help = false
        /* TSV file with header: sample	status=case|control	sex=male|female|undefined , optional column 'population' */
	samplesheet = null
	
	/** vcf file , or if the suffix is '.list' , paths to the VCF  files */
	vcf = null

	/** limit analysis to the variants overlapping that BED file , used for STEP1 when building the correlation matrix , can be used to exclude sepecific low-mappability regions, etc...*/
	bed = null

        /** covariates */
        covariates=null


	/** optional STEP1 loco file if saved from a previous anaysis. This prevent to re-run a whole workflow until step1 */
	step1_loco = null


        /** when this false functional annotation (missense, anonymous, etc, won't be used */
	with_functional_annotations  = true


        /** custom tab delimited file mapping functional annot . Mapping annotation to mask(s) : ANNOTATION(tab)SCORE[0-1](tab)MASK_NAME1(,MASK_NAME2,...)* . for functional annotation . See the main.nf for an example */
	custom_annotation2mask = null


        /* sliding window size: ([window_size,window_shift])+ */
	sliding_windows=""

        }

includeConfig "../../../config/nextflow.config"


params {


	/** pop in gnomad */
	gnomad_population = "AF_nfe"

	/** optional COVARIATE file if provided by user , otherwise use PCA */
	covariate = null

	/** REGENIE named tests, comma separated  */
	vc_tests = "skato,acato-full,skat,skato-acat,acatv,acato"





	/** frequencies, comma separated see regenie manual */
	freq = "0.01,0.001"
	/** regenie parameter see regenie manual */
	vc_maxAAF="0.01"


	/** weight column for step 2 */
	weight_column = 4

	
	/** custom user bed chrom/start/end/annotation/gene_name[/score] .
	   BED records with different column annotation should not overlap .
	   Score is an optional column with a number between 0 and 1 
	   */
	select_bed = null
	

	/* treshold for digest file , hide pvalue lower than this value */
	digest_treshold  = 7.0

	/** skip chromosomes X and Y */
	skip_XY = false

	

	/** when input is bed , and if bed record is just too small, extend each record to that length (like bedtools slop).  */
	min_bed_length = 0

	/** use user's AAF file instead of regenie internal AAF */
	use_aaf_file = true
	}

process {
        errorStrategy = "terminate"

        withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
                ext.output_type = "ACGT"
                ext.max_to_merge = 1
                }


        withName: "REGENIE_FUNCTIONAL_ANNOT" {
                ext.freq= {"${params.freq}"}
                ext.args1 = {"--regions \"${meta.contig}\" "}
                }

        withName: "REGENIE_SLIDING_ANNOT" {
                ext.freq= {"${params.freq}"}
                ext.args1 = {"--regions \"${meta.contig}\" "}
                }

        withName: "REGENIE_BED_ANNOT" {
                ext.freq= {"${params.freq}"}
                ext.args1 = {"--regions \"${meta.contig}\" "}
                }

        withName: "REGENIE_MAKE_ANNOT" {
                ext.args1 = "--auto" //auto create mask if it doesn't exists 
        }


	withName : "REGENIE_STEP2" {
               ext.aaf_bins  = {"${params.freq}"}
               ext.vc_maxAAF = {"${params.vc_maxAAF}"}
               ext.vc_tests = {"${params.vc_tests}"}
        }

        withName : "MERGE_REGENIE" {
                publishDir = [
                        path: {"${params.outdir}/REGENIE"},
                        saveAs: { filename -> "${params.prefix}$filename" },
                        mode: "copy",
                        pattern : '*.{gz}',
                        overwrite : true
                        ]
                }

        withName: "QQMAN"  {
                ext.cmd = "awk -F ' ' '/^CHROM/ {printf(\"CHR\\tBP\\tSNP\\tP\\n\");next;} {printf(\"%s\\t%s\\t%s\\t%s\\n\",\$1,\$2,\$3, 10^(\$12 * -1.0) );}' "
                publishDir = [
                        path: {"${params.outdir}/REGENIE"},
                        saveAs: { filename -> "${params.prefix}$filename" },
                        mode: "copy",
                        pattern : '*.{png}',
                        overwrite : true
                        ]
                }
        withName: "BEST_HITS" {
                publishDir = [
                        path: {"${params.outdir}/REGENIE"},
                        saveAs: { filename -> "${params.prefix}$filename" },
                        mode: "copy",
                        pattern : '*.{tsv}',
                        overwrite : true
                        ]
                }


	withName : "ZIP" {
                publishDir = [
                path: {"${params.outdir}/REGENIE"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.zip',
                overwrite : true
                ]
	}

        withName: "MULTIQC" {
                publishDir = [
                        path: { "${params.outdir}/multiqc" },
                         saveAs: { filename -> "${params.prefix}$filename" },
                        mode: "copy",
                        pattern : '*.{zip}',
                        overwrite : true
                        ]
                }


        /*
	withName : "ANNOT_HITS" {
                publishDir = [
                path: {"${params.outdir}/REGENIE"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{tsv}',
                overwrite : true
                ]
        }*/

        /*
	withName : "MAKE_SNPLIST" {
                publishDir = [
                path: {"${params.outdir}/REGENIE"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{gz}',
                overwrite : true
                ]
        }*/

	withName : "FUNCTIONAL_ANNOTATION_SCORES" {
                publishDir = [
                path: {"${params.outdir}/REGENIE"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{txt,tsv}',
                overwrite : true
                ]
        }

        /*
	withName : "README" {
                publishDir = [
                path: {"${params.outdir}"},
                mode: "copy",
                pattern : '*.{md}',
                overwrite : true
                ]
        }*/


}

