params {
help = false
prefix = ""
dbsnp = "DBSNP"
dbsnp_tbi = "DBSNP_TBI"
samplesheet = "NO_FILE"
/** CSV file with header giving extra info about each sample */
sampleinfo = null
/** extra bam files */
exta_bams = null
/** capture BED */
bed=null
outdir="results"
hts_type = "WGS" /* WGS|WES */
orad_directory = null
with_fastqc = true
with_fastp = true
with_multiqc = true
with_bam_qc = true
with_somalier = true
with_manta = true
with_indexcov = true
with_delly = true
with_pb_haplotypecaller = true
with_pb_deepvariant = true
with_cnvnator = true
with_graphtyper = false
with_bcftools_call = true
with_freebayes = true
with_gatk = true

makewindows_args = "-w 10000000 -s 9999900"
bed_cluster_args = "--size 10Mb "
}

apptainer.autoMounts = true
apptainer.enabled = true
apptainer.runOptions = " --nv "



process {


withName : "DOWNLOAD_ORAD" {
	ext.local_dir = {params.orad_directory}
	}

withName : "FASTQC_BEFORE_TRIM" {
	cpus = 10
	ext.prefix = "raw"
	}

withName : "FASTQC_AFTER_TRIM" {
	cpus = 10
	ext.prefix = "trim"
	}

withName : "FASTP" {
	cpus = 10
	}

withName : "PB_FQ2BAM" {
	conda = null
	container = "/LAB-DATA/GLiCID/projects/ITX/tools/parabricks.4_5.sif"
	beforeScript = "module load nvhpc apptainer"
	ext.gpus = 2
	ext.cpu_per_gpu=24
	}

withName : "PB_HAPCALLER" {
	conda = null
	container = "/LAB-DATA/GLiCID/projects/ITX/tools/parabricks.4_5.sif"
	beforeScript = "module load nvhpc apptainer"
	ext.gpus = 2
	ext.cpu_per_gpu=24
	}

withName: "DEEPVARIANT" {
	conda = null
	container = "/LAB-DATA/GLiCID/projects/ITX/tools/parabricks.4_5.sif"
	beforeScript = "module load nvhpc apptainer"
	ext.gpus = 2
	ext.cpu_per_gpu=24
}


withName : "SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
	ext.max_to_merge = 1
}

withName : "MANTA_SINGLE:MANTA" {
	cpus= 10
}

withName: "INDEXCOV:INDEXCOV_REBUILD_BAI" {
	cpus = 10
}

  withName : "DELLY:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
    ext.output_type = "N"
    ext.max_to_merge = 1
  }

withName: "BEDTOOLS_MAKEWINDOWS" {
		ext.args = {params.makewindows_args}
		}
withName: "BED_CLUSTER" {
		ext.args = {params.bed_cluster_args}
		}

withName: "HAPLOTYPECALLER:HAPCALLER" {
	array = 100
	}

withName: "PB_HAPLOTYPECALLER:GLNEXUS_GENOTYPE" {
	ext.config = "gatk"
	array = 100
}

withName : "PB_DEEPVARIANT:GLNEXUS_GENOTYPE" {
	ext.config = "DeepVariantWGS"
	array = 100
}

}
