plugins {
  id 'nf-schema@2.6.1'
}



params {
	help = false
	prefix = ""
	fasta = null
	gtf = null
	samplesheet = null
	bam2fastq_method = "samtools"
        bwa_index_args = "-b 500000000"
	with_cram = true
	with_fastp = true
	with_fastqc = true
	with_seqkit_split2 = true
	seqkit_split2_args = "--by-length 3G "
	with_bqsr = true
	with_delly = true
	with_somalier = true
	somalier_vcf_sites = null
	with_manta = true
	with_indexcov = true
	indexcov_batchsize = 100
	with_pb_deepvariant = true
	with_graphtyper = true
	with_haplotype_caller = true
	with_markdup = true
	with_truvari = true
	with_smoove = true
	with_pb_haplotypecaller = true
	with_collect_metrics = true
	with_merge_fastqs  = false
	with_unmapped = true
	unmapped_fast_mode = false
	markdup_method = "gatk"
	orad_directory = null
	dbsnp = null
	mosdepth_use_median = false
	mosdepth_min_depth = 0
	on_low_bam_quality = "warning"
	with_cnvnator = true
	cnvnator_bin_size = 10000
	exclude_encode_blacklist = true

	known_indels_vcf = null
	/* how to map fastq (dragmap|bwa|pb) */
	mapper = "bwa"
	/* location of bwa index */
	bwa_index_directory = null
	/** location of dragmap index */
	dragmap_index_directory=null

	hc_gvcf_merge_method = "glnexus"
	}

includeConfig "../../config/nextflow.config"
includeConfig "../../config/common.apptainer.config"

params {


/** CSV file with header giving extra info about each sample */
sampleinfo = null
/** extra bam files */
exta_bams = null
/** capture BED */
bed=null
outdir="results"
hts_type = "WGS" /* WGS|WES */

with_multiqc = true
with_bam_qc = true



with_bcftools_call = true
with_freebayes = true
freebayes_args = "--use-best-n-alleles 6 --min-coverage 10 --limit-coverage 500 --min-mapping-quality 30"


makewindows_args = "-w 1000000 -s 999900"
bed_cluster_args1 = "--size 10Mb " // callers like gatk+gvcf
bed_cluster_args2 = "--size 10Mb " //callers like freebayes, bcftools
}

validation {
	help {
		showHidden = false
		 enabled = true
		}
	ignoreParams = []
	logging {
		unrecognisedParams = "warn"
		unrecognisedHeaders = "warn"
		}
}


apptainer.runOptions = " --nv "



process {



withName: "BWA_INDEX" {
	// see https://github.com/lh3/bwa/issues/104
	ext.args = { "${params.bwa_index_args}"}
	}

withName : "DOWNLOAD_ORAD" {
	ext.local_dir = {params.orad_directory}
	}

withName : "FASTQC_BEFORE" {
	cpus = 20
	ext.prefix = "raw"
	memory = "10G"
	}

withName : "FASTQC_AFTER" {
	cpus = 20
	ext.prefix = "trim"
	memory = "10G"
	}

withName : "FASTP" {
	cpus = 10
	}

withName: "BAM_QC:SAMTOOLS_FLAGSTATS" {
	ext.args1 = {params.hts_type.equalsIgnoreCase("wes")?"-M":""}
	}

withName: "MAP_BWA:SEQKIT_SPLIT:SEQKIT_SPLIT2" {
	ext.args1 = {"${params.seqkit_split2_args}"}
}

withName : "PB_FQ2BAM" {
	conda = null
	//beforeScript = "module load nvhpc apptainer"
	ext.with_bqsr = {"${params.with_bqsr}"}
	ext.gpus = 2
        cpus = 96 //128 non
	ext.cpu_per_gpu=256 // ok 48, ok 96, ok 128
	memory = {"500G"}  //200 ok; 300 ok
	maxForks = 1
	publishDir = [
          path:{"${params.outdir}/bam/${meta.id}"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bam,cram,bai,crai,md5}',
          mode: "copy",
          overwrite : true
          ]

	}

withName : "PB_HAPCALLER" {
	conda = null
	//container = {params.apptainer_images.parabricks}
	//beforeScript = "module load nvhpc apptainer"
	ext.gpus = 2
	ext.cpu_per_gpu=24
	maxForks = 1
	}

withName: "PB_DEEPVARIANT:DEEPVARIANT" {
	conda = null
	//container = {params.apptainer_images.parabricks}
	//beforeScript = "module load nvhpc apptainer"
	accelerator = [request:2, type: 'A100-PCIE-40GB']
	ext.cpu_per_gpu=24
	maxForks = 1
}

withName : "PB_BAM2FQ" {
	conda = null
	//container = {params.apptainer_images.parabricks}
	//beforeScript = "module load nvhpc apptainer"
	ext.gpus = 2
	ext.cpu_per_gpu=24
	maxForks = 1
	}

withName : "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
	ext.max_to_merge = 1
	}

withName : "MANTA:MANTA_SINGLE" {
	cpus= 10
}

withName: "INDEXCOV:INDEXCOV_REBUILD_BAI" {
	cpus = 10
}

withName: "INDEXCOV:APPLY_INDEXCOV|INDEXCOV:MERGE_BEDS|INDEXCOV:JVARKIT_INDEXCOV2VCF" {
		publishDir = [
          path:{"${params.outdir}/indexcov"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,gz,tbi,zip,bed}',
          mode: "copy",
          overwrite : true
          ]
}



  withName : "DELLY:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
    ext.output_type = "N"
    ext.max_to_merge = 1
  }

withName: "BEDTOOLS_MAKEWINDOWS" {
		ext.args = {params.makewindows_args}
		}


withName: "MAP_BWA:BQSR:BED_CLUSTER" {
	ext.args = "--size 50mb "
	}

/** for callers like hapcaller+gvcf */
withName: "BED_CLUSTER1" {
		ext.args = {params.bed_cluster_args1}
		}
/** for callers like bcftoools/freebayes */
withName: "BED_CLUSTER2" {
		ext.args = {params.bed_cluster_args2}
		}

/*
withName: "HAPLOTYPECALLER:HAPCALLER" {
	array = 100
	}*/

withName: "PB_HAPLOTYPECALLER:GLNEXUS_GENOTYPE" {
	ext.config = "gatk"
	cpus = 10
	array = 100
	memory = "50G"
}


withName: "HAPLOTYPECALLER:GLNEXUS_GENOTYPE" {
	ext.config = "gatk"
	array = 100
}


withName: "GRAPHTYPER:GTYPER" {
	array = 100
}


withName: "GRAPHTYPER:BCFTOOLS_CONCAT" {
      publishDir = [
          path:{"${params.outdir}/variants/graphtyper"},
          saveAs: { filename -> "${params.prefix}${filename}" },
          pattern : '*.{bcf,csi,vcf.gz,tbi,md5}',
          mode: "copy",
          overwrite : true
          ]
	}

withName : "PB_DEEPVARIANT:GLNEXUS_GENOTYPE" {
	ext.config = "DeepVariantWGS"
	array = 100
}

withName : "HAPLOTYPECALLER:FIND_GVCF_BLOCKS" {
	ext.args1 = "--merge-size 1Mb"
}

//
withName: "PB_HAPLOTYPECALLER:BCFTOOLS_CONCAT" {
      publishDir = [
          path:{"${params.outdir}/variants/pb_haplotypecaller"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,vcf.gz,tbi,md5}',
          mode: "copy",
          overwrite : true
          ]
	}

withName: "PB_DEEPVARIANT:BCFTOOLS_CONCAT" {
      publishDir = [
          path:{"${params.outdir}/variants/pb_deepvariant"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,vcf.gz,tbi,md5}',
          mode: "copy",
          overwrite : true
          ]
	}

withName: "HAPLOTYPECALLER:BCFTOOLS_CONCAT" {
      publishDir = [
          path:{"${params.outdir}/variants/haplotypecaller"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,vcf.gz,tbi,md5}',
          mode: "copy",
          overwrite : true
          ]
	}

withName: "FREEBAYES_CALL:SIMPLE_CALLING:BCFTOOLS_MERGE" {
      publishDir = [
          path:{"${params.outdir}/variants/bcftools"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,vcf.gz,tbi}',
          mode: "copy",
          overwrite : true
          ]
	}

withName : "CALL_FREEBAYES" {
	   ext.args= {"${params.freebayes_args}"}
       }

withName: "FREEBAYES_CALL:SIMPLE_CALLING:BCFTOOLS_MERGE" {
      publishDir = [
          path:{"${params.outdir}/variants/freebayes"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,vcf.gz,tbi,md5}',
          mode: "copy",
          overwrite : true
          ]
	}


withName: "BCFTOOLS_STATS|BCFTOOLS_GUESS_PLOIDY" {
	publishDir = [
          path:{"${params.outdir}/variants/${meta.id}/qc"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{txt,tsv}',
          mode: "copy",
          overwrite : true
          ]
}


withName: "SOMALIER_BAMS:PLOT_MATRIX" {
	publishDir = [
          path:{"${params.outdir}/somaliers/"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{pdf}',
          mode: "copy",
          overwrite : true
          ]
}

withName: "SOMALIER_BAMS:PLOT_MATRIX|SOMALIER_BAMS:RELATE" {
	publishDir = [
          path:{"${params.outdir}/somalier/"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{pdf,zip,tsv,html}',
          mode: "copy",
          overwrite : true
          ]
}



withName: "CNVNATOR:ONE_FILE_PER_CONTIG" {
		ext.regex = "^((chr)?[0-9XY]+)\$"
}

withName: "MULTIQC" {
	publishDir = [
		path: { "${params.outdir}/multiqc" },
		mode: "copy",
		pattern : '*.{zip}',
		overwrite : true
		]
	}

withName : "SMOOVE_CALL|SMOOVE_GENOTYPE|SMOOVE_MERGE|SMOOVE_PASTE|SMOOVE:SMOOVE_CALL|SMOOVE:SMOOVE_GENOTYPE|SMOOVE:SMOOVE_MERGE|SMOOVE:SMOOVE_PASTE" {
	//beforeScript = "module load apptainer"
	//container = {params.apptainer_images.smoove}
	conda= null
	}

withName: "SMOOVE:SMOOVE_PASTE" {
	publishDir = [
		path: { "${params.outdir}/sv/smoove" },
		saveAs: { filename -> "${params.prefix}$filename" },
		mode: "copy",
		pattern : '*.{gz,tbi,bcf,csi,md5}',
		overwrite : true
		]
}

withName: "DELLY:FILTER_DELLY" {
	publishDir = [
		path: { "${params.outdir}/sv/delly2" },
		saveAs: { filename -> "${params.prefix}$filename" },
		mode: "copy",
		pattern : '*.{gz,tbi,bcf,csi,md5}',
		overwrite : true
		]
}

withName: "CNVNATOR:CALL_CNV" {
	ext.bin = {params.cnvnator_bin_size as int}
}

withName: "CNVNATOR:CNVNATOR_CONCAT_VCFS|CNVNATOR:CNVNATOR_CONCAT_BEDS" {
	publishDir = [
		path: { "${params.outdir}/sv/cnvnator" },
		saveAs: { filename -> "${params.prefix}$filename" },
		mode: "copy",
		pattern : '*.{gz,tbi,bcf,csi,md5}',
		overwrite : true
		]
	}

withName: "UNMAPPED:MAP_UNMAPPED" {
	ext.fast = { "${params.unmapped_fast_mode}" }
	}

withName: "UNMAPPED:MERGE_CONTAMINANTS_MAPPING|UNMAPPED:MERGE_SPADES" {
	publishDir = [
			path: { "${params.outdir}/unmapped" },
			saveAs: { filename -> "${params.prefix}$filename" },
			mode: "copy",
			pattern : '*.{gz,tsv,md5}',
			overwrite : true
			]
	}


withName: "MOSDEPTH" {
	memory = "50G"
	cpus = 10
	ext.args = {"${params.mosdepth_use_median==true?"--use-median":""}"}
	}

withName: "RUN_ORAD_PE|RUN_ORAD_INTERLEAVED|RUN_ORAD_SE" {
	cpus = 20
	}

withName : "ORAD_INFO" {
	time = "1m"
	}
}


profiles {

    hs38me {
	params {
		known_indels_vcf = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/cng.fr/hs38me/hs38me_all_chr_Mills_and_1000G_gold_standard.indels.vcf.gz"
		}
	}

    waves {
       process {
          scratch = {"/scratch/waves/users/${USER}/TMP/"}


	withName : "FREEBAYES_CALL:SIMPLE_CALLING:CALL_FREEBAYES|BCFTOOLS_CALL:SIMPLE_CALLING:BCFTOOLS_CALL" {
		array = 100
		}
       }
    }
    
  nautilus {
       process {
			/* TODO attention c'est waves et pas nautilus, Audrey me demande de bosser sur waves... */
          scratch = {"/scratch/waves/users/${USER}/TMP/"}


	withName : "FREEBAYES_CALL:SIMPLE_CALLING:CALL_FREEBAYES|BCFTOOLS_CALL:SIMPLE_CALLING:BCFTOOLS_CALL" {
		array = 100
		}


       }

	}

}
