params {
fasta = "FASTA"
fai = "FAI"
dbsnp = "DBSNP"
dbsnp_tbi = "DBSNP_TBI"
samplesheet = "NO_FILE"
outdir="results"
}

apptainer.autoMounts = true
apptainer.enabled = true
apptainer.runOptions = " --nv "



process {
executor="slurm"
queue = "standard"
cache = "lenient"

withName : "FASTQ_TO_BAM" {
        scratch="'${SCRATCHDIRWAVES}'"
	errorStrategy = "retry"
	queue = "gpu"
	maxRetries = 3
	time = "3h"

	container = "/LAB-DATA/GLiCID/projects/ITX/tools/parabricks.4_5.sif"
	beforeScript = "module load nvhpc apptainer"
	ext.gpus = 2
        ext.cpu_per_gpu=24
	clusterOptions ="--gres=gpu:2 --qos=quick "
	memory = "70G"
	cpus = 48

/*
  resources:
    gpu=2,
    mem_gb=70,
    slurm_extra="--gres=gpu:2",
    cpu_per_gpu=24
*/
	}


}
