params {
	gtf=null
	ucsc_name = null
	fasta = null
}
includeConfig "../../config/nextflow.config"

params {
	/** input VCF file or a list of VCF with the suffix '.list' */
	vcf = null
	/* limit to that samples */
	samples = null
	/** remove those samples in plink; Must be formatted as FID(tab)IID (output of jvarkit swing swingplinkselectcluster ) */
	remove_samples = null
	/** 1kg gnomad files vcf,tbi */
	onekg = null
	/** samplesheet gnomad files vcf,tbi */
	gnomad = null
	/** TSV mapping sample2 pop */
	sample2pop = null

	exclude_bed = null
	}


/** END_PARAMS */

process {

	withName : "PIHAT01:VCF2BED1" {
		ext.split = false
	}
	withName : "PIHAT01:VCF2BED2" {
		ext.split = false
	}
	withName : "PIHAT01:VCF2BED3" {
		ext.split = false
	}

	withName: "PIHAT01:PLOT_MDS|PIHAT01:PLOT_ASSOC" {
                publishDir = [
	                path: { "${params.outdir}" },
			mode: "copy",
			pattern : '*.{png,txt.gz,txt,tsv,pdf}',
			overwrite : true
                ]
        }
	withName: "PIHAT01:MERGE" {
                publishDir = [
	                path: { "${params.outdir}" },
			mode: "copy",
			pattern : '*.{genome,mds}',
			overwrite : true
                ]
        }

	withName: "AVERAGE_PIHAT" {
                publishDir = [
                        path: { "${params.outdir}" },
                        mode: "copy",
                        pattern : '*.{png,tsv}',
                        overwrite : true
                ]
        }


	withName: "MULTIQC:MQC1" {
                publishDir = [
	                path: { "${params.outdir}/multiqc" },
			mode: "copy",
			pattern : '*.{zip}',
			overwrite : true
                ]
        }

}
