plugins {
  id 'nf-schema@2.6.1'
}

includeConfig "../../config/common.schema.config"



params {
	fasta = null
	/** bam samplesheet when making pihat from BAM files */
	samplesheet = null
	/** input VCF file or a list of VCF with the suffix '.list' */
	vcf = null
	/** 1kg gnomad files vcf,tbi */
	onekg = null
	/** samplesheet gnomad files vcf,tbi */
	gnomad = null
	outdir = "results"
	prefix = ""
	contigs_regex = "(chr)?[0-9XY]+"
	gnomad_distance = 10000
	gnomad_deltaAF = 0.4
	exclude_bed = null
	genotype_method = "gatk" // 
	help = false
	}

includeConfig "../../config/nextflow.config"

params {
	/* limit to that samples */
	samples = null
	/** remove those samples in plink; Must be formatted as FID(tab)IID (output of jvarkit swing swingplinkselectcluster ) */
	remove_samples = null
	/** TSV mapping sample2 pop */
	sample2pop = null

	
	}


/** END_PARAMS */

process {

	withName : "FIND_SITES_IN_GNOMAD" {
		ext.distance = {"${params.gnomad_distance}"}
		ext.delta_AF = {"${params.gnomad_deltaAF}"}
	}

	withName : "PIHAT01:VCF2BED1" {
		ext.split = false
	}
	withName : "PIHAT01:VCF2BED2" {
		ext.split = false
	}
	withName : "PIHAT01:VCF2BED3" {
		ext.split = false
	}

	withName: "PIHAT01:PLOT_MDS|PIHAT01:PLOT_ASSOC" {
                publishDir = [
	                path: { "${params.outdir}" },
			mode: "copy",
			pattern : '*.{png,txt.gz,txt,tsv,pdf}',
			overwrite : true
                ]
        }
	withName: "PIHAT01:MERGE" {
                publishDir = [
	                path: { "${params.outdir}" },
			mode: "copy",
			pattern : '*.{genome,mds}',
			overwrite : true
                ]
        }

	withName: "AVERAGE_PIHAT" {
                publishDir = [
                        path: { "${params.outdir}" },
                        mode: "copy",
                        pattern : '*.{png,tsv}',
                        overwrite : true
                ]
        }


	withName: "MULTIQC:MQC1" {
                publishDir = [
	                path: { "${params.outdir}/multiqc" },
			mode: "copy",
			pattern : '*.{zip}',
			overwrite : true
                ]
        }

}
