plugins {
  id 'nf-schema@2.6.1'
}

includeConfig "../../config/common.schema.config"



params {
	fasta = null
	/** input VCF file or a list of VCF with the suffix '.list' */
	vcf = null
	/** 1kg gnomad files vcf,tbi */
	onekg = null
	/** samplesheet gnomad files vcf,tbi */
	gnomad = null
	outdir = "results"
	prefix = ""
	contigs_regex = "(chr)?[0-9XY]+"
	exclude_bed = null
	help = false
	with_multiqc = true
	}

includeConfig "../../config/nextflow.config"

params {
	/* limit to that samples */
	samples = null
	/** remove those samples in plink; Must be formatted as FID(tab)IID (output of jvarkit swing swingplinkselectcluster ) */
	remove_samples = null
	/** TSV mapping sample2 pop */
	sample2pop = null

	
	}


/** END_PARAMS */

process {



	withName: "PIHAT:PLOT_PIHAT|PIHAT:PLOT_ASSOC|PIHAT:PLOT_MDS" {
        publishDir = [
				path: { "${params.outdir}/PLOT" },
				saveAs: { filename -> "${params.prefix}$filename" },
				mode: "copy",
				pattern : '*.{png,tsv,pdf}',
				overwrite : true
                ]
        }

withName: "PIHAT:AVERAGE_PIHAT|PIHAT:PLINK_MDS" {
        publishDir = [
				path: { "${params.outdir}" },
				saveAs: { filename -> "${params.prefix}$filename" },
				mode: "copy",
				pattern : '*.{mds,tsv}',
				overwrite : true
                ]
        }


	withName: "MULTIQC" {
		publishDir = [
				path: { "${params.outdir}/multiqc" },
				mode: "copy",
				pattern : '*.{zip}',
				overwrite : true
                ]
        }

}
