params {
    outdir = "results"
    prefix = ""
    help = false
    fasta = null
    samplesheet = null//ends with list, vcf.gz, bcf or csv with [vcf(,id,index)?]
    bed =null
    pedigree = null 
    onekgenome = null //VCF 100 genome for PCA. ends with list,  csv with [vcf(,id,index)?]
    gtf = null
    gff3 = null
    with_pihat  = true
    sample2pop = null
    }


includeConfig "../../config/nextflow.config"


process {
    withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
        ext.output_type = "ACGT"
        ext.max_to_merge = 1
        }

    withName: "MQC1" {
        publishDir = [
                    path:"${params.outdir}/multiqc",
                    saveAs: { filename -> "${params.prefix}${filename}" },
                    mode: "copy",
                    pattern : '*.{zip,html}',
                    overwrite : true
                    ]
        }

    withName: "MQC2" {
        publishDir = [
                    path:"${params.outdir}/multiqc_per_pop",
                    saveAs: { filename -> "${params.prefix}${filename}" },
                    mode: "copy",
                    pattern : '*.{zip,html}',
                    overwrite : true
                    ]
        }



    withName: "PIHAT:VCF2BED1" {
        ext.split=false
    }
     withName: "PIHAT:VCF2BED2" {
        ext.split=false
    }
    withName: "PIHAT:PER_CONTIG" {
        cpus = 10
    }

    withName: "PIHAT:MERGE" {
        cpus = 20
    }

    withName: "PIHAT:PER_CONTIG" {
        ext.gnomad = {params.gnomad}
    }
}