params {
    samplesheet = "NO_FILE" //ends with list, vcf.gz, bcf or csv with [vcf(,id,index)?]
    bed =null
    pedigree = null 
    onekgenome = null //VCF 100 genome for PCA. ends with list,  csv with [vcf(,id,index)?]
    }

process {
    errorStrategy = "terminate"
    withName: "PIHAT:VCF2BED1" {
        ext.split=false
    }
     withName: "PIHAT:VCF2BED2" {
        ext.split=false
    }
    withName: "PIHAT:PER_CONTIG" {
        cpus = 10
    }

    withName: "PIHAT:MERGE" {
        cpus = 20
    }

    withName: "PIHAT:PER_CONTIG" {
        ext.gnomad = {params.gnomad}
    }
}