params {
	help=false
	outdir="results"
	prefix=""
	samplesheet = null
    fastq_head_N = 100000
    fasta = null //for small bwa
    bwa_mem_dir = null
	}

includeConfig "../../config/nextflow.config"



process {

withName: "FASTQC" {
    cpus = 10
    ext.prefix= {"${meta.id}_raw"}
}

withName: "FASTQC_RAW" {
    ext.prefix= {"${meta.id}_subset${params.fastq_head_N}_before"}
    }

withName: "FASTQC_FILTERED" {
    ext.prefix= {"${meta.id}_subset${params.fastq_head_N}_after"}
    }

withName: "FASTQ_HEAD" {
    ext.n = {"${params.fastq_head_N}"}
}

withName: "UNMAPPED:SPADES_ASSEMBLY" {
	errorStrategy = "ignore"
	}

withName: "MULTIQC:MQC1" {
	ext.args1 = "--no-ai"
       publishDir = [
                path:"${params.outdir}/multiqc",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}

withName: "MULTIQC:MQC2" {
       publishDir = [
                path:"${params.outdir}/multiqc_per_pop",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}


withName: "UNMAPPED:MERGE_CONTAMINANTS_MAPPING" {
       publishDir = [
                path:"${params.outdir}/unmapped",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.tsv',
                overwrite : true
                ]
	}


withName: "UNMAPPED:MERGE_SPADES" {
       publishDir = [
                path:"${params.outdir}/unmapped",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.gz',
                overwrite : true
                ]
	}

}

