params {
	help=false
	outdir="results"
	prefix=""
	samplesheet = null
	}

includeConfig "../../config/nextflow.config"



process {

withName: "MULTIQC:MQC1" {
       publishDir = [
                path:"${params.outdir}/multiqc",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}

withName: "MULTIQC:MQC2" {
       publishDir = [
                path:"${params.outdir}/multiqc_per_pop",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}

}

