includeConfig("../../../confs/default.params.cfg")
includeConfig("../../../subworkflows/annotation/annotation.cfg")

params {
	/** genome ID */
	genomeId = ""
	/** File containing the paths to the BAM/CRAMS files. One path per line */
	bams = "NO_FILE"
	/** number of BAMs per HaplotypeCaller */
	nbams = 20
	/* optional pedigree */
	pedigree  =  ""

	/** path to a list of BED files */
	beds = "NO_FILE"

	/** min MAPPING QUALITY or -1 to use default*/
	mapq = 20
	/** extra parameters for haplotype caller */ 
	extraHC = ""

	/** with annotations ? */
	with_annotations = false
	}

process {
        withName: "GATK4_HAPCALLER_DIRECT_01:BCFTOOLS_CONCAT_01:CONCAT2 " {
                publishDir = [
                path:"${params.publishDir}",
                mode: "copy",
                saveAs: {F->F.startsWith("${params.prefix?:""}")?"${F}":"${params.prefix?:""}${F}"} ,
                pattern : "*.{bcf,vcf.gz,csi,tbi}",
                overwrite : true
                ]
	}        

        withName: "GATK4_HAPCALLER_DIRECT_01:MERGE_VERSION" {
                publishDir = [
                path:"${params.publishDir}",
                mode: "copy",
                saveAs: {F->F.startsWith("${params.prefix?:""}")?"${F}":"${params.prefix?:""}${F}"} ,
                pattern : "*.xml",
                overwrite : true
                ]
        }

        withName : "VERSION_TO_HTML" {
                publishDir = [
                path:"${params.publishDir}",
                mode: "copy",
                saveAs: {F->F.startsWith("${params.prefix?:""}")?"${F}":"${params.prefix?:""}${F}"} ,
                pattern : '*.html',
                overwrite : true
                ]
	}
}
