
params {
	/* file containing the path to multiple bam files */
	bams = "NO_FILE"
	/* path to indexed vcf file to genotype */
	vcf = "NO_FILE"
	/** method used for genotyping '(gatk|bcftools)'*/
	method = "gatk"
        outdir="results"
        fasta = null
	}
includeConfig "../../config/nextflow.config"

/** END_PARAMS */

process {


withName: "VCF_GENOTYPING:BCFTOOLS_GENOTYPING:BCFTOOLS_MERGE" {
                publishDir = [
                path:"${params.outdir}/results/VCF",
                mode: "copy",
                pattern : '*.{bcf,vcf.gz,tbi,csi}',
                overwrite : true
                ]
        }

}
