
plugins {
  id 'nf-schema@2.6.1'
}

includeConfig "../../config/common.schema.config"




params {
	/* file containing the path to multiple bam files */
	bams = "NO_FILE"
	/* path to indexed vcf file to genotype */
	vcf = "NO_FILE"
	/** method used for genotyping '(gatk|bcftools)'*/
	method = "gatk"
        dbsnp = null
        outdir="results"
        fasta = null
        n_bams = 50
        n_variants = 10000
        with_stats = true
        with_multiqc = true
        recal_snps_args = null
        recal_indels_args = null
	}
includeConfig "../../config/nextflow.config"

/** END_PARAMS */

process {


withName : "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
        ext.output_type = "ACGT"
        ext.max_to_merge = 1
	}

withName:  "SPLIT_N_VARIANTS" {
        ext.method = {"--variants-count ${params.n_variants} "}
        }
withName:  "BCFTOOLS_MERGE" {
        cpus = 20
        }
withName:  "BCFTOOLS_CONCAT" {
        cpus = 20
        }
withName : "VCF2TABIX" {
        time = 10.m
        }
withName: "BCFTOOLS_GENOTYPE" {
        memory = 10.GB
        cpus = 20
        }

withName : "GATK_GENOTYPE_VCF" {
	ext.args1 = "--max-alternate-alleles 1 --do-not-run-physical-phasing --disable-tool-default-annotations --dont-use-soft-clipped-bases -A DepthPerSampleHC -A DepthPerAlleleBySample"
	}

}
