plugins {
  id 'nf-schema@2.6.1'
}

params {
        fasta = null
        help = false
        outdir = "results"
        prefix = ""
	/* csv file with header: sample,bam(,fasta,fai,dict) */
	samplesheet= null
        gtf=null
        bed = null
        gnomad=null
        jvarkit_filter=null
	snpeff_database_directory = "NO_DIR"
	soacn = "SO:0001629,SO:0001818"
	cluster_size = 500000
	}

includeConfig "../../config/nextflow.config"


validation {
	help {
		showHidden = false
		 enabled = true
		}
	ignoreParams = []
	logging {
		unrecognisedParams = "warn"
		unrecognisedHeaders = "warn"
		}
}



process {

withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
        ext.max_to_merge = 1
	}
withName: "GTF_TO_EXOME" {
        ext.what = "exon"
        ext.slop = "50"
        }

withName: "BEDTOOLS_MAKEWINDOWS" {
	ext.args = {"-w ${(params.cluster_size as int) +10} -s ${params.cluster_size}"}
	}

withName: "GTF_TO_EXOME" {
	ext.what = "exon"
	ext.slop = 10
	ext.extra_cmd = "grep -F protein_coding"
	}
withName:  "BED_CLUSTER" {
	ext.args = {"--size ${params.cluster_size}"}
	}

withName: "ITER_10:GATK_BAM2VCF" {
	memory = {10.GB  * task.attempt}
	}
withName:  "ITER_10:BED_CLUSTER" {
	ext.args = "--size 100"
	}
withName:  "ITER_100:BED_CLUSTER" {
	ext.args = "--size 10"
	}
withName:  "ITER_250:BED_CLUSTER" {
	ext.args = "--size 7"
	}
withName:  "ITER_500:BED_CLUSTER" {
	ext.args = "--size 5"
	}

withName:  "ITER_1000:BED_CLUSTER" {
	ext.args = "--size 1"
	}
withName:  "ITER_ALL:BED_CLUSTER" {
	ext.args = "--size 1"
	}
withName : "SNPEFF_APPLY" {
	ext.accessions = {"${params.soacn}"}
	}
withName : "ITER_10:BEDTOOLS_SLOP|ITER_100:BEDTOOLS_SLOP|ITER_250:BEDTOOLS_SLOP|ITER_500:BEDTOOLS_SLOP|ITER_1000:BEDTOOLS_SLOP|ITER_ALL:BEDTOOLS_SLOP" {
	ext.slop=150
	}

withName: "VCF_TO_HTML" {
	ext.args2 = "--format html"
	publishDir = [
          path:{"${params.outdir}"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{html}',
          mode: "copy",
          overwrite : true
          ]

	}

withName: "VCF_TO_TXT" {
	publishDir = [
          path:{"${params.outdir}"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{txt}',
          mode: "copy",
          overwrite : true
          ]
	}


withName: "BCFTOOLS_QUERY" {
	ext.format = "%CHROM\t%POS\t%END\t%REF\\n"
	}

withName: "IGV_REPORT" {
	publishDir = [
          path:{"${params.outdir}/IGV"},
          pattern : '*.{html}',
          mode: "copy",
          overwrite : true
          ]

	}
withName: "BCFTOOLS_SORT2|BCFTOOLS_INDEX2" {
	publishDir = [
          path:{"${params.outdir}"},
          pattern : '*.{bcf,csi,vcf.gz,tbi}',
		  saveAs: { filename -> "${params.prefix}$filename" },
          mode: "copy",
          overwrite : true
          ]
	}

withName: "GROUP_BY_GENE" {
	publishDir = [
          path:{"${params.outdir}"},
		  saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{txt,bed,csv}',
          mode: "copy",
          overwrite : true
          ]
	}
withName: "README" {
	publishDir = [
          path:{"${params.outdir}"},
		  //saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{md}',
          mode: "copy",
          overwrite : true
          ]
	}
}
