
params {
	/** one file containing the paths to the BAM/CRAM  */
	samplesheet = "NO_FILE"
	/** limit to that bed */
	bed = null
        /** pedigree for MANTA denovo_scoring.py */
        pedigree = null

        /** min GQ for denovo select */
        denovo_gq = 20
	}

/** END_PARAMS */

process {

withName : "MERGE_CANDIDATE_SV" {
      publishDir = [
          path:"${params.outdir}",
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,vcf.gz,tbi,txt,tsv}',
          mode: "copy",
          overwrite : true
          ]  
      }


withName: "MANTA_DENOVO" {
      ext.gq = {params.denovo_gq}
      publishDir = [
          path:"${params.outdir}/DENOVO",
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,vcf.gz,tbi,txt,tsv}',
          mode: "copy",
          overwrite : true
          ]  
}

withName: "ANNOTATE_SV:VEP_GRCH38:APPLY_VEP" {
	publishDir = [
          path:"${params.outdir}/VCFS",
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,vcf.gz,tbi,txt,tsv}',
          mode: "copy",
          overwrite : true
          ]
	}

withName : "MANTA_MULTI|MANTA_CONVERT_INVERSION" {
	cpus = 50

	publishDir = [
          path:"${params.outdir}/VCFS",
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,vcf.gz,tbi,txt,tsv}',
          mode: "copy",
          overwrite : true
          ]
}

withName : "JVARKIT_VCF_SET_DICTIONARY" {
        ext.extension = ".vcf.gz"
        ext.sort = true
}

withName : "SCATTER_INTERVALS_BY_NS" {
        ext.output_type = "ACGT"
        ext.max_to_merge = 1
}

withName : "INTERVAL_LIST_TO_BED" {
        ext.awk_filter = "\$1 ~ /^(chr)?[0-9XY]+\$/"
}

}
