params {
	ucsc_name = null
	fasta = null
}
includeConfig "../../config/nextflow.config"

params {
	/** input VCF file or a list of VCF with the suffix '.list' */
	samplesheet = null
	}


process {
	withName: "EXPANSION_HUNTER_DE_NOVO:XHUNTER_DENOVO_PROFILE" {
		array=100
	}

	withName: "EXPANSION_HUNTER_DE_NOVO:XHUNTER_DENOVO_CASE_CONTROL" {
		ext.method = {"${meta.method}"}
       publishDir = [
                path:"${params.outdir}",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{tsv}',
                overwrite : true
                ]
		}


}
