params {
    ucsc_name = "hg38"
    ensembl_name = "GRCh38"
    snpeff_db = "GRCh38.99"
    vep_cache_version = "113"
    vep_spliceai_snv = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/SpliceAI/spliceai_scores.raw.snv.hg38.vcf.gz"
    vep_spliceai_indel = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/SpliceAI/spliceai_scores.raw.indel.hg38.vcf.gz"
    vep_loeuf = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/LOEUF/supplement/loeuf_dataset_grch38.tsv.gz"
    clinvar_vcf = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/ncbi/pub/clinvar/vcf_GRCh38/clinvar.vcf.gz"
    cadd = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/krishna.gs.washington.edu/download/CADD/v1.7/GRCh38/whole_genome_SNVs.GRCh38.v1.7.tsv.gz"
    gnomad = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/broadinstitute.org/gnomad/3.0/gnomad.genomes.r3.0.sites.vcf.gz"
    dbsnp = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/cng.fr/hs38me/hs38me_all_chr_dbsnp-146.vcf.gz"
    gtf = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/cng.fr/hs38me/Homo_sapiens.GRCh38.105.chr_patch_hapl_scaff.gtf.gz"
    gff3 = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/cng.fr/hs38me/Homo_sapiens.GRCh38.105.chr_patch_hapl_scaff.gff3.gz"
    vep_args = " --cache --species homo_sapiens --merged --dir /LAB-DATA/GLiCID/projects/BiRD_resources/apps/vep --cache_version 113 --assembly GRCh38"

}
