/**

 specific configuration  for the French server GLICID

*/

executor{
    name = 'slurm'
    account = 'thorax'
    pollInterval = '30sec'
    perCpuMemAllocation = true
    submitRateLimit = '10sec'
    }

params {
	snpeff_database_directory = "/LAB-DATA/GLiCID/projects/BiRD_resources/databases/snpEff"
	orad_directory = "/LAB-DATA/GLiCID/projects/BiRD_resources/apps/orad/orad.2.7.0.linux"


/**

apptainer build --disable-cache  parabricks-4.6.0-1.sif "docker://nvcr.io/nvidia/clara/clara-parabricks:4.6.0-1"
module load apptainer && TMPDIR=${PWD} apptainer pull smoove.sif docker://brentp/smoove
apptainer pull --force --disable-cache /LAB-DATA/GLiCID/users/${USER}/APPTAINER/deepvariant_deeptrio.sif "docker://google/deepvariant:deeptr>


        apptainer_images = [
                parabrick   : "/LAB-DATA/GLiCID/users/lindenbaum-p@univ-nantes.fr/APPTAINER/parabricks-4.6.0-1.sif" ,
                smoove      : "/LAB-DATA/GLiCID/users/lindenbaum-p@univ-nantes.fr/APPTAINER/smoove.sif",
                deeptrio    : "/LAB-DATA/GLiCID/users/lindenbaum-p@univ-nantes.fr/APPTAINER/deepvariant_deeptrio.sif" ,
                deepvariant : "/LAB-DATA/GLiCID/users/lindenbaum-p@univ-nantes.fr/APPTAINER/deepvariant.sif"
                ]
*/

	}

env {
    HTTP_PROXY="http://proxy-upgrade.intra.glicid.fr:3128"
    FTP_PROXY="http://proxy-upgrade.intra.glicid.fr:3128"
    https_proxy="http://proxy-upgrade.intra.glicid.fr:3128"
    http_proxy="http://proxy-upgrade.intra.glicid.fr:3128"
    no_proxy="127.0.0.1/8,localhost,intra.glicid.fr,*.intra.glicid.fr,.intra.glicid.fr,10.50.0.0/16,*.nautilus.intra.glicid.fr,nautilus.intra.glicid.fr,.nautilus.intra.glicid.fr"
    NO_PROXY="127.0.0.1/8,localhost,intra.glicid.fr,*.intra.glicid.fr,.intra.glicid.fr,10.50.0.0/16,*.nautilus.intra.glicid.fr,nautilus.intra.glicid.fr,.nautilus.intra.glicid.fr"
    HTTPS_PROXY="http://proxy-upgrade.intra.glicid.fr:3128"
    JAVA_PROXY = "-Dhttp.proxyHost=http://proxy-upgrade.intra.glicid.fr -Dhttp.proxyPort=3128 -Dhttps.proxyHost=http://proxy-upgrade.intra.glicid.fr -Dhttps.proxyPort=3128"
}

process {
    clusterOptions = "--qos=quick ${params.extra_cluster_options?:""}"
    queue = "standard"
    cache = "lenient"
    errorStrategy = { task.attempt < 3  ? 'retry' : 'finish' }
    maxRetries = 3
    time = "3h"
    memory = 1.GB
    
      withLabel:process_single {
            clusterOptions = {task.attempt==1?"--qos=quick ${params.extra_cluster_options?:""}":"--qos=short ${params.extra_cluster_options?:""}"}
            cpus= {1}
            memory = {3.GB  * task.attempt }
            time = {task.attempt==1?3.h:24.h}
            }
        withLabel:process_low {
            clusterOptions = {"--qos=${task.attempt==1?"quick":"short"} ${params.extra_cluster_options?:""}"}
            queue = {"standard" }
            cpus={1  * task.attempt}
            memory = {5.GB  * task.attempt}
            time = {task.attempt==1 ? 179.m /* 3h **/: 1439.m /* 24h00 */ }
            }
        withLabel:process_short {
            clusterOptions = {task.attempt==1?"--qos=short ${params.extra_cluster_options?:""}":"--qos=medium ${params.extra_cluster_options?:""}"}
            queue = {"standard" }
            cpus={2  * task.attempt}
            memory = {50.GB  * task.attempt}
            time = {task.attempt==1?24.h:48.h}
            }
        withLabel:process_medium {
                clusterOptions = {"--qos=medium ${params.extra_cluster_options?:""}"}
                cpus={3*task.attempt}
                memory = {10.GB  * task.attempt}
                time = {72.h}
        }
        withLabel:process_high {
                clusterOptions = {"--qos=long ${params.extra_cluster_options?:""}"}
                cpus={10}
                memory = {20.GB  * task.attempt}
                queue = {"standard"}
        }
        withLabel:process_long {
                clusterOptions = {"--qos=long ${params.extra_cluster_options?:""}"}
                queue = {"standard"}
        }
        withLabel:process_high_memory {
                clusterOptions = {"--qos=long ${params.extra_cluster_options?:""}"}
                queue = {"standard"}
        } 

        withLabel:process_gpu {
		clusterOptions ="--gres=gpu:2 --qos=quick ${params.extra_cluster_options?:""}"
		memory = {"70G"}
                queue = {"gpu"}
		cpus = {96}
        } 
	/**************************************************************************************************************/

      	withLabel : parabricks {
               conda = null
               container = "/LAB-DATA/GLiCID/users/${USER}/APPTAINER/parabricks-4.6.0-1.sif"
               beforeScript = "module load nvhpc apptainer"
               }
      	withLabel : smoove {
               conda = null
               container = "/LAB-DATA/GLiCID/users/${USER}/APPTAINER/smoove.sif"
               beforeScript = "module load nvhpc apptainer"
               }
                
	withLabel: deeptrio {
                conda = null
		container = "/LAB-DATA/GLiCID/users/${USER}/APPTAINER/deepvariant_deeptrio.sif"
		beforeScript = "module load nvhpc apptainer"
		}

	withLabel : deepvariant {
                conda = null
		container = "/LAB-DATA/GLiCID/users/lindenbaum-p@univ-nantes.fr/APPTAINER/deepvariant.sif"
		beforeScript = "module load nvhpc apptainer"
                }


	/**************************************************************************************************************/
	withLabel: array100 {
		array = 100
		}


    }
