profiles {
    GRCh38 {
        includeConfig "common.hg38.config"
        params {
            build_name = "GRCh38"
			fasta = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/GRCh38/Homo_sapiens_assembly38.fasta"
			fai = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/GRCh38/Homo_sapiens_assembly38.fasta.fai"
			dict = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/GRCh38/Homo_sapiens_assembly38.dict"
        }
    
    }
}
