profiles {
    hs38me {
        includeConfig "common.hg38.config"

        params {
	        /** path to indexed fasta file */
        	fasta = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/cng.fr/hs38me/hs38me_all_chr.fasta"
	        /** path to fasta index file */
        	fai = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/cng.fr/hs38me/hs38me_all_chr.fasta.fai"
	        /** path to picard dictionary file  */
        	dict = "/LAB-DATA/GLiCID/projects/BiRD_resources/species/human/cng.fr/hs38me/hs38me_all_chr.dict"
        }
    }
}
