
params {
   help = false
   prefix = ""
   outdir = "results"
   }

includeConfig "apptainer.config"
includeConfig "micromamba.config"
includeConfig "mamba.config"
includeConfig "gitlab-ci.config"
includeConfig "waves.config"
includeConfig "nautilus.config"
includeConfig "hs38me.config"
includeConfig "GRCh38.config"
includeConfig "stub.config"


process {
cache="lenient"
errorStrategy = "finish"
shell = ['/bin/bash', '-euo', 'pipefail']
memory = "1g"
cpus = 1
}


timeline {
    enabled = true
    file    = "${params.outdir?:"."}/pipeline_info/execution_timeline_${new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')}.html"
}
report {
    enabled = true
    file    = "${params.outdir?:"."}/pipeline_info/execution_report_${new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')}.html"
}
trace {
    enabled = true
    file    = "${params.outdir?:"."}/pipeline_info/execution_trace_${new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')}.txt"
}
dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir?:"."}/pipeline_info/pipeline_dag_${new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')}.html"
}
