process {
    withName: "CIRCULAR_MANHATTAN:FAI_TO_SVG:BED_TO_XML" {
        ext.with_dict  = true
        }
    withName: "CIRCULAR_MANHATTAN:BED_TO_XML" {
        // add a random value to BED
        ext.cmd1 = "awk -F '\t' '{printf(\"%s\t%f\\n\",\$0,rand()*1000.0);}' "  
        ext.args1 = "--type bedGraph  --columns value"
    }
}