params {
    prefix=""
    outdir = "results"
    help = false
    samplesheet = null
    fasta = null
    vcf = null
    treshold = 0.9
}

includeConfig "../../../config/nextflow.config"

profiles {
    GRCh38 {
        process {
              withName : "GENOTYPE_CALL|GENOTYPE_TRUTH|CONCORDANCE|PLOT_CONCORDANCE" {
                    array= 100
                }
        }
    }
}

process {

   withName: "CONCORDANCE_BAMS:GENOTYPE_CALL" {
        memory = {10.GB  * task.attempt}
        errorStrategy = { task.attempt < 7  ? 'retry' : 'finish' }
        maxRetries = 7
    }
  
    withName: "PLOT_CONCORDANCE" {
        ext.treshold = {"${params.treshold}"}
    }

    withName: "MERGE_CONCORDANCES" {
        publishDir = [
                    path: { "${params.outdir}" },
                    mode: "copy",
                    saveAs: { filename -> "${params.prefix}${filename}" },
                    overwrite : true
                    ]
        }
    withName: "GHOSTSCRIPT_MERGE" {
        publishDir = [
                    path: { "${params.outdir}" },
                    mode: "copy",
                     pattern : '*.{pdf}',
                    saveAs: { filename -> "${params.prefix}${filename}" },
                    overwrite : true
                    ]
        }
  
    withName: "MULTIQC" {
        publishDir = [
                path: { "${params.outdir}/multiqc" },
                mode: "copy",
                pattern : '*.{zip}',
                overwrite : true
                ]
        }
   

}
