process {
    withName: "HAPLOTYPECALLER:FIND_GVCF_BLOCKS" {
        ext.args1=" --merge-size 500"
    }

    withName: "HAPLOTYPECALLER:HAPCALLER" {
        ext.args2 = "--base-quality-score-threshold 6 --min-base-quality-score 6 --standard-min-confidence-threshold-for-calling 1 "
    }

    withName: "HAPLOTYPECALLER:GLNEXUS_GENOTYPE" {
       ext.config="gatk"
    }
}