params {
    fasta = null
    fai = null
    dict = null
    vcfs = null
    pedigree=null
    prefix="prefix"
    outdir="results"
    help=false
}

conda.enabled = true

process {
    withName : "DOWNLOAD_GFF3" {
        ext.suffix="gff3"
    }
    withName: "NO_CALL_TO_HOM_REF" {
        ext.args1 = " -t . -n 0"
    }
}