params {
    fasta = null
    fai = null
    dict = null
    vcfs = null
    pedigree=null
    prefix="prefix"
    outdir="results"
    help=false
}

conda.enabled = true

process {
    withName : "DOWNLOAD_GFF3" {
        ext.suffix="gff3"
    }
    withName: "NO_CALL_TO_HOM_REF" {
        ext.args1 = " -t . -n 0"
    }

    withName : "MERGE_AND_FILTER" {
        publishDir = [
            path:"${params.outdir}",
            saveAs: { filename -> "${params.prefix}$filename" },
            mode: "move",
            pattern : '*.{bcf,csi,vcf.gz,tbi,txt,tsv}',
            overwrite : true
            ]
    }

}