params {
    prefix=""
    outdir = "results"
    help = false
    samplesheet = null
    fasta = null
    bed = null
    gnomad = null
    treshold = 0.9
}

includeConfig "../../../config/nextflow.config"


process {

    withName: "MERGE_TRUTH" {
	memory = "50G"
	}
    withName : "GENOTYPE_CALL|GENOTYPE_TRUTH|CONCORDANCE|PLOT_CONCORDANCE" {
        array= 100
    }
    withName: "PLOT_CONCORDANCE" {
        ext.treshold = {"${params.treshold}"}
    }

    withName: "MERGE_CONCORDANCES" {
        publishDir = [
                    path: { "${params.outdir}" },
                    mode: "copy",
                    saveAs: { filename -> "${params.prefix}${filename}" },
                    overwrite : true
                    ]
        }
    withName: "GHOSTSCRIPT_MERGE" {
        publishDir = [
                    path: { "${params.outdir}" },
                    mode: "copy",
                     pattern : '*.{pdf}',
                    saveAs: { filename -> "${params.prefix}${filename}" },
                    overwrite : true
                    ]
        }
    withName: "README" {
        publishDir = [
                    path: { "${params.outdir}" },
                    mode: "copy",
                    overwrite : true
                    ]
        }
    
    withName: "MULTIQC" {
        publishDir = [
                path: { "${params.outdir}/multiqc" },
                mode: "copy",
                pattern : '*.{zip}',
                overwrite : true
                ]
        }
    withName: "PLOT_INDEX_STATS" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "copy",
            pattern : '*.{pdf}',
            saveAs: { filename -> "${params.prefix}${filename}" },
            overwrite : true
            ]
        }

}
