params {
	outdir = "results"
	help = false
	prefix = ""
	fasta = "NO_FILE"
	fai = "NO_FILE"
	dict = "NO_FILE"
	}

conda.enabled = true
conda.useMicromamba = true


process {

withName : "CONCAT_VCFS" {
        publishDir = [
                path: {"${params.outdir}/VCF"},
		saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
                overwrite : true
                ]
        }

}
