plugins {
  id 'nf-schema@2.0.0'
}


conda.enabled=true

params {
	help = false
	prefix = "prefix"
	fasta = "NO_FILE"
	dict = "NO_FILE"
	fai = "NO_FILE"
	dbsnp="NO_FILE"
	/** required file , CSV, : bam(bai,fasta,fai,sex) */
	samplesheet ="NO_FILE"
	gvcfs="NO_FILE"
	beds="NO_FILE"
	outdir = "results"
	mapq = 30
	sample2population = "NO_FILE"
	combine_method = "" // one of genomicsDB,genomicsDBAndGenotype,glnexus,combinegvcf
	with_multiqc = true
	}

process {


withName : "VCF_CONCAT2" {
        publishDir = [
                path: {"${params.outdir}/VCF"},
		saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
                overwrite : true
                ]
        }

withName : "MULTIQC" {
        publishDir = [
                path: {"${params.outdir}/VCF"},
		saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.zip',
                overwrite : true
                ]
        }
}
