plugins {
  id 'nf-schema@2.0.0'
}


conda.enabled=true

params {
	help = false
	prefix = "prefix"
	/** required file , CSV, : bam(bai,fasta,fai,sex) */
	samplesheet ="NO_FILE"
	gvcfs="NO_FILE"
	beds="NO_FILE"
	outdir = "results"
	mapq = -1
	sample2population = null
	combine_method = "" // one of genomicsDB,genomicsDBAndGenotype,glnexus,combinegvcf
	with_multiqc = true
	}

process {

withName : "HC_BAM_BED" {
	array = 100
	cpus = 2
	ext.mapq = {params.mapq}
	}

withName : "VCF_CONCAT2" {
        publishDir = [
                path: {"${params.outdir}/VCF"},
		saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
                overwrite : true
                ]
        }

withName : "MULTIQC" {
        publishDir = [
                path: {"${params.outdir}/VCF"},
		saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.zip',
                overwrite : true
                ]
        }
}
