params {
	fasta = null	
	}

includeConfig "../../config/nextflow.config"

params {
	json = null
	makewindows_args = "-w 1000000"
	}


process {
errorStrategy = "terminate"

withName : "SCATTER_INTERVALS_BY_NS" {
        ext.output_type = "ACGT"
        ext.max_to_merge = 1
}

withName: "BEDTOOLS_MAKEWINDOWS" {
        ext.args = {params.makewindows_args}
        }


withName: "CIRCOS:APPLY_CIRCOS" {
       publishDir = [
                path:"${params.outdir}",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{svg,png}',
                overwrite : true
                ]
	}

withName: "MULTIQC:MQC1" {
       publishDir = [
                path:"${params.outdir}/multiqc",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}

withName: "MULTIQC:MQC2" {
       publishDir = [
                path:"${params.outdir}/multiqc_per_pop",
				saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{zip,html}',
                overwrite : true
                ]
	}

}

