

params {
	/* file containing the path to multiple bam files */
	samplesheet="NO_FILE"
	/* optional pedigree , trios will be called using deep variant*/
	pedigree = null
	/* limit to bed */
	bed = null
        /** deep variant model type e.g: WGS */
        model_type = "undefined"
	}



process {
        withName: "BED_CLUSTER" {
                ext.args = "--size 1Mb"
        	}

        withName: "DEEPVARIANT_TRIOS:DEEP_TRIO3" {
               ext.model_type = {params.model_type}
               ext.keep_vcf = false
               conda = null
               /**  apptainer pull --force --disable-cache /LAB-DATA/GLiCID/users/${USER}/APPTAINER/deepvariant_deeptrio.sif "docker://google/deepvariant:deeptrio-1.9.0" */
               container = "/LAB-DATA/GLiCID/users/lindenbaum-p@univ-nantes.fr/APPTAINER/deepvariant.sif"
        }


	withName: "GLNEXUS_GENOTYPE_01" {
                cpus = 5
                memory = 15.GB
                }

	withName: "DEEPVARIANT_01:BCFTOOLS_CONCAT_01:CONCAT2" {
                cpus = 10
                memory = 20.GB
                publishDir = [
                        path: { "${params.publishDir}/results/VCF/" },
                        mode: "move",
                        pattern : '*.{bcf,vcf,vcf.gz,csi,tbi}',
                        overwrite : true
                	]
		}



}


