plugins {
  id 'nf-schema@2.6.1'
}


params {
	outdir = "results"
	help =false
	prefix=""
	fasta = null
	samplesheet =null
	/** vcf containing data displayed on vcf */
	vcf = null

	num_cases = 5
	// number of samples carrying *NO* ALT allele to choose from the VCF
	num_controls = 5
	// display 'x' bases around breakpoints of SV variants.
	sv_flanking = 250
	}

includeConfig "../../config/nextflow.config"




process {
  withName : "IGVREPORTS:IGVREPORT" {
        publishDir = [
	                path: { "${params.outdir}" },
			saveAs: { filename -> "${params.prefix}$filename" },
	                mode: "copy",
			pattern : '*.html',
			overwrite : true
                ]
	}
  withName : "IGVREPORTS:ZIPIT" {
        publishDir = [
	                path: { "${params.outdir}" },
			saveAs: { filename -> "${params.prefix}$filename" },
	                mode: "copy",
			pattern : '*.zip',
			overwrite : true
                ]
	}



}
