
params {
	/** file containing the SV variants to genotype */
	vcf = "NO_FILE"

	/** indexed BAM or a list of bams with the .list suffix */
	samplesheet  = "NO_FILE"
	/** restrict to that bed */
        bed = null
        /* how to split variants for jvarkit vcfsplitnvariants */
        split_method =  "--variants-count 1000"
	}


process {

withName: "JVARKIT_BAM_RENAME_CONTIGS" {
        cpus = 10
        }

withName: "SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.max_to_merge=1
        ext.output_type="ACGT"
	}
withName: "GRAPHTYPER_GENOTYPE_SV" {
        array = 100
        cpus = 10
        }
withName: "PLOT_COVERAGE_01:DRAW_COVERAGE" {
        array = 100
        }

withName : "PDF_NAVIGATION" {
        ext.title = "Graphtyper DeNovo"
        ext.prefix = {params.prefix+"graphtyper.denovo"}
        publishDir = [
                path:"${params.outdir}/DENOVO",
                pattern : '*.{html,zip}',
                mode: "copy",
                overwrite : true
                ]  
        }

}

/*

withName: "GRAPHTYPER_GENOTYPE_BAMS_01:BCFTOOLS_CONCAT_01:CONCAT2" {
                publishDir = [
                path:"${params.publishDir}/results",
                mode: "copy",
                pattern : '*.{bcf,vcf.gz,tbi,csi}',
                overwrite : true
                ]
        }

withName : "GRAPHTYPER_GENOTYPE_BAMS_01:MERGE_VERSION" {
                publishDir = [
                path:"${params.publishDir}/results",
                mode: "copy",
                pattern : '*.xml',
                overwrite : true
                ]
        }


withName : "VERSION_TO_HTML" {
                publishDir = [
                path:"${params.publishDir}/results",
                mode: "copy",
                pattern : '*.html',
                overwrite : true
                ]
        }
*/
