plugins {
  id 'nf-schema@2.6.1'
}

includeConfig "../../../config/common.schema.config"



params {
	help=false
	prefix=""
	outdir=""

	/** samplesheet tsv with header sample/bam/bai */
	samplesheet = "NO_FILE"

	/* limit to that bed  not bedS because graphtyper split input by 50kb  */
	bed = null
	/** .. but for a small number of samples, it's faster to pool bed together, so it's the size of the pool */
	bedcluster_size = "50kb"
	/** optional TSV file mapping sample to its DEPTH */
	sample2depth = "NO_FILE"
	/** mapq min MAPQ */
	mapq = 10
	/** how to calculate depth ? */
	depth_method = "mosdepth"
	/** cpus for mosdepth */
	mosdepth_cpus = 1

	/** parameters for bedtools makewin in MAKE_INTERVAL */
	makewin_args = " -w 50000 -s 49990"
	bed_cluster_args="--size 50kb --consecutive --chromosome"
	bedtools_slop = 200
	}

includeConfig "../../../config/nextflow.config"

conda.enabled = true

process {

withName : "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
        ext.output_type = "ACGT"
        ext.max_to_merge = 1
	}

withName: "BEDTOOLS_MAKEWINDOWS" {
        ext.args = {params.makewin_args}
        }

withName: "BED_CLUSTER" {
        ext.args = {"${params.bed_cluster_args}"}
        }

withName: "BEDTOOLS_SLOP" {
        ext.slop = {"${params.bedtools_slop}"}
        }

withName: "JVARKIT_BAM_RENAME_CONTIGS" {
	ext.args1 =  {" --fetch-pairs "}
}

withName: "MOSDEPTH" {
	cpus =  ("${params.mosdepth_cpus}" as int)
	}




withName: "GRAPHTYPER" {
	array=100
}

withName : "MERGE" {
                publishDir = [
                path:"${params.outdir}/release",
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "move",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
                overwrite : true
                ]
        }

withName : "SAVE_FAILED" {
                publishDir = [
                path:"${params.outdir}/release",
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{txt,tsv,bed}',
                overwrite : true
                ]
	}        

}

