plugins {
  id 'nf-schema@2.6.1'
}

includeConfig "../../../config/common.schema.config"


params {
	/** file prefix */
	prefix = ""
	/** output directory */
	outdir = "results"
	help = false
        /* TSV file with header: sample	status=case|control	sex=male|female|undefined , optional column 'population' */
	samplesheet = null
	
	/** bgen */
	bim_bed_fam= null

        /** covariates */
        covariates=null


        /** file containing list of markers/variants for step 1 */
        step1_markers = null


        }

includeConfig "../../../config/nextflow.config"


process {

	withName : "REGENIE_STEP1" {
                ext.prefix = "regenie_step1"
                publishDir = [
                path: {"${params.outdir}/REGENIE"},
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{loco,log,list}',
                overwrite : true
                ]
        }



}

