params {
	ucsc_name = null
	fasta = null
}
includeConfig "../../config/nextflow.config"

params {
	/** input VCF file or a list of VCF with the suffix '.list' */
	samplesheet = null
	/** path to catalog, if any, otherwise download default */
	catalog = null
	/** xhunter mode streaming/seeking */
	mode = "seeking"
	}


process {
	
	withName: "EXPANSION_HUNTER:XHUNTER_APPLY" {
		array=100
		memory = "10G"
		cpus = 20
		ext.args1 = "--region-extension-length 1000"
		ext.mode = {"${params.mode}"}
	}


	withName: "EXPANSION_HUNTER:BCFTOOLS_MERGE" {
	   ext.args1 = "-m id "
       publishDir = [
                path:"${params.outdir}",
		saveAs: { filename -> "${params.prefix}${filename}" },
                mode: "copy",
                pattern : '*.{bcf,csi}',
                overwrite : true
                ]
		}


}
