params {
	ucsc_name = null
	fasta = null
}
includeConfig "../../config/nextflow.config"

params {
	/** input VCF file or a list of VCF with the suffix '.list' */
	samplesheet = null
	/** path to catalog, if any, otherwise download default */
	catalog = null
	/** xhunter mode streaming/seeking */
	mode = "seeking"
	/** specific parameters for xhunter */
	xhunter_args = "--region-extension-length 1000"
	/** keep bams at then end */
	keep_bams = false
	}


process {
	


	withName: "EXPANSION_HUNTER:XHUNTER_APPLY" {
		memory = {task.attempt*50.GB} /* marche bien en streaming wgs + nautilus + hg19 catalog */
		cpus = {task.attempt*2} /* marche bien en streaming wgs + nautilus */
		ext.args1 = {"${params.xhunter_args}"}
		ext.mode = {"${params.mode}"}
		ext.keep_bam = {"${params.keep_bams}"}
		publishDir = [
			path:"${params.outdir}",
			saveAs: { filename -> "${params.prefix}${filename}" },
			mode: "copy",
			pattern : '*.{bcf,csi,bam,bai,cram,crai,json}',
			overwrite : true
			]
	}


	withName: "EXPANSION_HUNTER:BCFTOOLS_MERGE" {
	   ext.args1 = "-m id "
	   ext.prefix = {"merged"}
       publishDir = [
			path:"${params.outdir}",
			saveAs: { filename -> "${params.prefix}${filename}" },
			mode: "copy",
			pattern : '*.{bcf,csi}',
			overwrite : true
			]
		}

	withName: "EXPANSION_HUNTER:FISHER_TEST" {
       publishDir = [
			path:"${params.outdir}",
			saveAs: { filename -> "${params.prefix}${filename}" },
			mode: "copy",
			pattern : '*.{tsv,csv}',
			overwrite : true
			]
		}


	withName: "GHOSTSCRIPT_MERGE" {
	       publishDir = [
                        path:"${params.outdir}",
                        saveAs: { filename -> "${params.prefix}${filename}" },
                        mode: "copy",
                        pattern : '*.{pdf}',
                        overwrite : true
                        ]

		}
	
	withName : "COMPILE_VERSIONS" {
		publishDir = [
				path: { "${params.outdir}" },
				mode: "copy",
				pattern : '*.{tsv,csv}',
				saveAs: { filename -> "${params.prefix}$filename" },
				overwrite : true
				]
		}

}
