

params {
	/* csv file with header: sample,bam(,fasta,fai,dict) */
	samplesheet="NO_FILE"
        /** file containing accession file of contaminantes or use default if null */
        acn_file = null
        /*   use only the unmapped reads at the end of the file */
        fast = false
	}



process {

        withName "SPADES_ASSEMBLY" {
                cpus = {20 * task.attempt}
                memory = {150.GB * task.attempt}  
        }
        
        withName: "SAMTOOLS_STATS" {
		array = 100
                publishDir = [
                        path: { "${params.outdir}/QC" },
                        mode: "copy",
                        pattern : '*.{txt}',
                        overwrite : true
                ]
        }

         withName: "UNMAPPED:MAP_UNMAPPED" {
                cpus = {10 * task.attempt}
                memory = {50.GB * task.attempt}
                ext.fast = {params.fast as boolean}
         }

        withName: "MULTIQC" {
                publishDir = [
                        path: { "${params.outdir}/multiqc" },
                        mode: "copy",
                        pattern : '*.{zip}',
                        overwrite : true
                        ]
        }


}


