

params {
        fasta = null
        help = false
        outdir = "results"
        prefix = ""
	/* csv file with header: sample,bam(,fasta,fai,dict) */
	samplesheet= null
        /** bed */
        bed =null
	}

includeConfig "../../config/nextflow.config"


process {

        withName: "SPADES_ASSEMBLY" {
                cpus = {20 * task.attempt}
                memory = {150.GB * task.attempt}  
        }
        
       

         withName: "UNMAPPED:MAP_UNMAPPED" {
                cpus = {10 * task.attempt}
                memory = {50.GB * task.attempt}
                ext.fast = {params.fast as boolean}
         }

        withName: "MULTIQC" {
                publishDir = [
                        path: { "${params.outdir}/multiqc" },
                        mode: "copy",
                        pattern : '*.{zip}',
                        overwrite : true
                        ]
        }


}


