params {
/** path to indexed fasta reference */
fasta = ""
fai = ""
dict = ""
/** path to CADD db */
cadd = ""
/** path to VCF or file containing paths to VCFs with suffix ".list" */
vcf = "NO_FILE"
sample = "NO_FILE"
/** display help */
help = false
/** publish Directory */
outdir = ""
/** files prefix */
prefix = ""
/** limit to that bed file */
bed="NO_FILE"

gnomadAF = 0.01
gnomadPop= "AF_nfe"
soacn = "SO:0001574,SO:0001575,SO:0001818"
vcf2interval_distance = "1Mb"
/** use soft filters for the following steps, comma sep */
soft_filters = ""
/** expression for bcftools --set-id */
set_id = "'%VKX'"
}

conda.enabled=true


process {

withName : "CONCAT" {
                publishDir = [
                path:"${params.outdir}",
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi}',
                overwrite : true
                ]
        }

}

