plugins {
  id 'nf-schema@2.6.1'
}

includeConfig "../../../config/common.schema.config"

params {
    help = false
    outdir = "results"
    fasta =null
    vcf = null
    prefix = ""
    with_alphamissense = true
}

includeConfig "../../../config/nextflow.config"


params {
        gnomadAF = 0.01
        gnomadPop= "AF_nfe"
        soacn = "SO:0001574,SO:0001575,SO:0001818"
        split_n_variants_args="--distance 1Mb"
        }

conda.enabled=true


process {

withName: "SPLIT_N_VARIANTS" {
        ext.method= {"${params.split_n_variants_args}"}
        }


withName: "JVARKIT_VCFGNOMAD" {
        ext.max_af = {"${params.gnomadAF}"}
        ext.fields = {"${params.gnomadPop}"}
        }

withName: "SNPEFF_APPLY" {
        ext.accessions = {"${params.soacn}"}
        ext.args3 = {"--filterout BAD_SO"}
        }

withName : "BCFTOOLS_CONCAT" {
        cpus = 10

        publishDir = [
                path:"${params.outdir}",
                saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{bcf,csi,vcf.gz,tbi,md5}',
                overwrite : true
                ]
        }

}

