
/*plugins {
  id 'nf-schema@2.0.0'
}*/

params {
	fasta = null
	prefix = ""
	help = false
	samplesheet = null
	outdir = "results"
	/** shall we use samtools stats ? */
	with_samtools_stats = true

	/** shall we use samtools flagstat ? */
	with_samtools_flagstat = true

	/** shall we use samtools idxstats */
	with_samtools_idxstats = true

	/** shall we use picard CollectWgsMetrics ? */
	with_CollectWgsMetrics = true

	/** use mosdepth */
	with_mosdepth = true

	/** use somalier */
	with_somalier = true

	with_depth_outliers = true

        /* optional path to TSV : sample(TAB)pop to plot boxplot */
	sample2pop = null;

	/** limit to that bed */
	bed = null;
	}


includeConfig "../../config/nextflow.config"

process {


	withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
          ext.output_type = "ACGT"
          ext.max_to_merge = 1
        }

/*
	withName: "BAM_QC:DEPTH_OUTLIER" {
		array = 100
		}
*/

	withName: "BAM_QC:SAMTOOLS_FLAGSTATS" {
		ext.args1 = ""
		//array = 100
		}
/*
	withName: "BAM_QC:SAMTOOLS_STATS" {
		array = 100
		}*/

/*	withName: "BAM_QC:SAMTOOLS_IDXSTATS" {
		array = 100
		}*/


	withName: "BAM_QC:PLOT_CHR_XY" {
                publishDir = [
                path:"${params.outdir}",
		saveAs: { filename -> "${params.prefix}$filename" },
		mode: "copy",
                pattern : '*.{tsv,pdf,png}',
                overwrite : true
                ]
		}

	withName: "MULTIQC:MQC1" {
		publishDir = [
					path:"${params.outdir}/multiqc/all",
					saveAs: { filename -> "${params.prefix}${filename}" },
					mode: "copy",
					pattern : '*.{zip,html}',
					overwrite : true
					]
		}

	withName: "MULTIQC:MQC2" {
		publishDir = [
					path:"${params.outdir}/multiqc/per_pop",
					saveAs: { filename -> "${params.prefix}${filename}" },
					mode: "copy",
					pattern : '*.{zip,html}',
					overwrite : true
					]
		}	
		



}

profiles {

	nautilus  {
		process {
			withName: "BAM_QC:MOSDEPTH" {
				memory = "50G"
				cpus = 4
				array = 100
                publishDir = [
        	        path: {"${params.outdir}/samples/${meta.id}"},
			saveAs: { filename -> "${params.prefix}$filename" },
			mode: "copy",
	                pattern : '*.{tsv,csv,bed,tbi,gz,txt,csi}',
        	        overwrite : true
                	]
				
			}
		}
	}

	waves  {
		process {
			withName: "BAM_QC:MOSDEPTH" {
				memory = "50G"
				cpus = 4
				array = 100
                publishDir = [
        	        path: {"${params.outdir}/samples/${meta.id}"},
					saveAs: { filename -> "${params.prefix}$filename" },
					mode: "copy",
							pattern : '*.{tsv,csv,bed,tbi,gz,txt,csi}',
							overwrite : true
							]

					}		
			}
		}
}
