
/*plugins {
  id 'nf-schema@2.0.0'
}*/

params {
	outdir = "results"
	/** shall we use samtools stats ? */
	with_samtools_stats = true

	/** shall we use samtools flagstat ? */
	with_samtools_flagstat = true

	/** shall we use samtools idxstats */
	with_samtools_idxstats = true

	/** shall we use picard CollectWgsMetrics ? */
	with_CollectWgsMetrics = true

	/** use mosdepth */
	with_mosdepth = true

	/** use somalier */
	with_somalier = true

        /* optional path to TSV : sample(TAB)pop to plot boxplot */
	sample2pop = null;

	/** limit to that bed */
	bed = null;

	}


process {


	withName: "SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
          ext.output_type = "ACGT"
          ext.max_to_merge = 1
        }

	withName: "BAM_QC:MOSDEPTH" {
		memory = "50G"
		cpus = 4
		array = 100
	}

	withName: "BAM_QC:SAMTOOLS_FLAGSTATS" {
		ext.args1 = ""
		array = 100
		}

	withName: "BAM_QC:SAMTOOLS_STATS" {
		array = 100
		}




	withName: "BAM_QC:SAMTOOLS_IDXSTATS" {
		array = 100
		}

	withName: "BAM_QC:PLOT_CHR_XY" {
                publishDir = [
                path:"${params.outdir}",
		saveAs: { filename -> "${params.prefix}$filename" },
		mode: "copy",
                pattern : '*.{tsv,pdf,png}',
                overwrite : true
                ]
		}

	withName: "MULTIQC" {
                publishDir = [
                path:"${params.outdir}/multiqc",
				saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                overwrite : true
                ]
        }

	withName: "MULTIQC_2" {
                publishDir = [
                path:"${params.outdir}/MULTIQC",
                mode: "copy",
                pattern : '*.{zip}',
                overwrite : true
                ]
        }

	withName : "ZIP_IT" {
                publishDir = [
                path:"${params.outdir}/ZIP/",
                mode: "copy",
                saveAs: {F->F.startsWith("${params.prefix?:""}")?"${F}":"${params.prefix?:""}${F}"} ,
                pattern : '*.zip',
                overwrite : true
                ]
	}


}
