params {
	outdir = "results"
	help = false
	prefix = ""
	gnomad_population="AF_nfe"
	}

conda.enabled = true
conda.useMicromamba = true


process {

withName : "MERGE_CONFIGS" {
        publishDir = [
                path: {"${params.outdir}/"},
		saveAs: { filename -> "${params.prefix}$filename" },
                mode: "copy",
                pattern : '*.{config}',
                overwrite : true
                ]
        }


}
