includeConfig '../../../confs/default.params.cfg'
includeConfig '../../../confs/genomeId.params.cfg'
includeConfig '../../../confs/by_subworkflow/annotation.cfg'

params {
	/** REQUIRED indexed VCF of BCF to index */
	vcf = "NO_FILE"
	/** optional BED file to narrow the way the VCF made */
	bed = "NO_FILE"
	/** optional PEDIGREE */
	pedigree = "NO_FILE"
	/**  split the vcf in chunck of this size */
	vcf2interval_distance = "1mb"
	}

/** END_PARAMS */

process {

	withName: "ANNOTATE_VCF:ANNOTATE_VCF_01:BCFTOOLS_CONCAT:CONCAT2" {
                publishDir = [
                path:"${params.publishDir}/results/",
                mode: "copy",
                pattern : '*.{bcf,vcf.gz,csi,tbi}',
                overwrite : true
                ]
        }


}
