params {
	fasta = "NO_FILE"
	fai = "NO_FILE"
	dict = "NO_FILE"
	help =false
	outdir = "results"
	samplesheet = null /* csv : vcf,index(,id)? */
	bed = null
	pedigree = null
	vcf2interval_distance = "1mb"
	}

/** END_PARAMS */

process {

	withName: "ANNOTATE_VCF:ANNOTATE_VCF_01:BCFTOOLS_CONCAT:CONCAT2" {
                publishDir = [
                path:"${params.outdir}/VCF",
                mode: "copy",
                pattern : '*.{bcf,vcf.gz,csi,tbi}',
                overwrite : true
                ]
        }


}
