params {
	help = false
	outdir = "results"
	prefix = ""
	fasta = null
	ucsc_name = "undefined"
	gtf = null
}
includeConfig "../../config/nextflow.config"
params {
	samplesheet =null


        /* file containing the path to indexed BAM or CRAM files for controls. */
	controls = "NO_FILE"
	/* exclude regex */
	exclude_contig_regex = "^(chr)?[0-9XY]+\$"

	/* file containing the path to indexed BAM or CRAM files for cases */
	cases = "NO_FILE"

	/* keep BND data */
	bnd = true

	/* call CNV */
	cnv = true

	/* do not perform SV discovery and genotype the variant in the VCF */
	genotype_vcf = "NO_FILE"

	/** custom exclude BED file */
	exclude_bed = "NO_FILE"
	
	/** optional BED for CNV calling  */
	cnv_bed = "NO_FILE"
	
	/** perform SV annotation ? */
	with_annotation=false

	delly2_version="1.3.3"
	jvarkit_vcffilter_script= null
	}

/** END_PARAMS */



process {

withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.output_type = "ACGT"
        ext.max_to_merge = 1
	}


/*withName: "DELLY:GENOTYPE_DELLY|DELLY:CALL_DELLY" {
	memory = {"50G"}
	}*/

withName: "VCF_TO_HTML" {
	ext.args2 = "--format html"
	publishDir = [
          path:{"${params.outdir}"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{html}',
          mode: "copy",
          overwrite : true
          ]

	}

withName: "VCF_TO_TXT" {
	publishDir = [
          path:{"${params.outdir}"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{txt}',
          mode: "copy",
          overwrite : true
          ]
	}

withName: "DELLY:FILTER_DELLY|JVARKIT_VCFFILTERJDK" {
		publishDir = [
			path:"${params.outdir}",
			mode: "copy",
			pattern : '*.{bcf,vcf.gz,csi,tbi,md5}',
			saveAs: { filename -> "${params.prefix}$filename" },
			overwrite : true
			]
	}
withName: "ANNOTSV:ANNOTSV_APPLY" {
	publishDir = [
			path:"${params.outdir}",
			mode: "copy",
			pattern : '*.{tsv,csv}',
			saveAs: { filename -> "${params.prefix}$filename" },
			overwrite : true
			]
	}

withName: "BCFTOOLS_QUERY" {
	ext.args1 = "-i 'INFO/SVTYPE==\"DEL\" || INFO/SVTYPE==\"DUP\"  || INFO/SVTYPE==\"CNV\" '" 
	ext.format = '%CHROM\t%POS0\t%END\t%INFO/SVTYPE\\n'
	ext.suffix = "bed"
	}

withName: "PLOT_COVERAGE_01:GHOSTSCRIPT_MERGE" {
	publishDir = [
				path:"${params.outdir}/PDFS",
				mode: "copy",
				pattern : '*.{pdf}',
				//saveAs: { filename -> "${params.prefix}$filename" },
				overwrite : true
				]

	}

withName: "PLOT_COVERAGE_01:PDF_NAVIGATION" {
	publishDir = [
				path:"${params.outdir}/PDFS",
				mode: "copy",
				pattern : '*.{tsv,pdf,html,zip}',
				//saveAs: { filename -> "${params.prefix}$filename" },
				overwrite : true
				]

	}
withName: "README" {
	publishDir = [
				path:"${params.outdir}",
				mode: "copy",
				pattern : '*.{md}',
				//saveAs: { filename -> "${params.prefix}$filename" },
				overwrite : true
				]

	}
}

