

params {
	prefix=""
	fasta = null
	outdir = "results"
	help = false

        samplesheet = null
        /* For some results, one may not want to collapse variants with conflicting genotypes from a single sample. */
        gt = "het"
        /* When a single sample is run through multiple SV callers, one may wish to consolidate those results.  */
	other_params = ""
        bed = null

        min_size = 50
        max_size = 1000000
        max_af = 0.01

        // force to adjust dictionary
        with_vcf_set_dict=false
        with_annotation = true
        }

includeConfig "../../config/nextflow.config"


process {


withName: "JVARKIT_VCFGNOMADSV" {
        ext.max_af = {"${params.max_af}"}
        ext.args2 = {"--population AF_nfe"}
        }



withName: "TRUVARI:TRUVARI_COLLAPSE" {
        //ext.args3 = {"--chain --keep ${params.keep} --gt ${params.gt} --pctsize 0.75 --sizemin ${params.min_size}  --sizemax ${params.max_size} ${params.other_params} --passonly"}
       //ok ext.args3 = {" --pctsize 0.5 --sizemin ${params.min_size}  --sizemax ${params.max_size} ${params.other_params}"}
        ext.args1 = {" --chain --pctsize 0.75 --sizemin ${params.min_size}  --sizemax ${params.max_size} ${params.other_params}"}
        }

withName: "TRUVARI:BCFTOOLS_CONCAT" {
	publishDir = [
          path:{"${params.outdir}"},
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{vcf.gz,tbi,bcf,csi,md5}',
          mode: "copy",
          overwrite : true
          ]
	}
 withName: "MULTIQC" {
                publishDir = [
                        path: { "${params.outdir}/multiqc" },
                         saveAs: { filename -> "${params.prefix}$filename" },
                        mode: "copy",
                        pattern : '*.{zip}',
                        overwrite : true
                        ]
                }

}

