

params {
	prefix=""
	fasta = null
	outdir = "results"
	help = false

        samplesheet = null
        /* For some results, one may not want to collapse variants with conflicting genotypes from a single sample. */
        gt = "het"
        /* When a single sample is run through multiple SV callers, one may wish to consolidate those results.  */
	other_params = ""
        bed = null

        min_size = 50
        max_size = 1000000
        max_af = 0.01
        }

includeConfig "../../config/nextflow.config"


process {

withName : "BCFTOOLS_VIEW" {
        ext.bed_arg = "targets"
        ext.args1 = {" --targets-overlap 2 --apply-filters 'PASS,.' -e 'SVTYPE==\"BND\" || SVLEN < ${params.min_size} || SVLEN > ${params.max_size}'"}
}

withName: "JVARKIT_VCFGNOMADSV" {
        ext.max_af = {"${params.max_af}"}
        }


withName: "PREPARE_ONE_REFERENCE:PREPARE_REFERENCE:SCATTER_TO_BED:SCATTER_INTERVALS_BY_NS" {
	ext.max_to_merge=1
        ext.output_type="ACGT"
	}
withName: "TRUVARI:TRUVARI_COLLAPSE" {
        ext.args1 = "--missing-to-ref"
        //ext.args3 = {"--chain --keep ${params.keep} --gt ${params.gt} --pctsize 0.75 --sizemin ${params.min_size}  --sizemax ${params.max_size} ${params.other_params} --passonly"}
       //ok ext.args3 = {" --pctsize 0.5 --sizemin ${params.min_size}  --sizemax ${params.max_size} ${params.other_params}"}
        ext.args3 = {" --chain --pctsize 0.75 --sizemin ${params.min_size}  --sizemax ${params.max_size} ${params.other_params}"}
        }
}

