

params {
	/* file containing the path to multiple bam files */
	samplesheet="NO_FILE"
	/* optional pedigree , trios will be called using deep variant*/
	pedigree = null
	/* vcf of SNV */
	vcf = "NO_FILE"
    /* optional snv call gatk */
    snv_vcf=null
    }



process {

withName : "RUN_DUPHOLD:RUN_DUPHOLD" {
    array = 100 
    cpus = 10
    }
    
withName : "RUN_DUPHOLD:BCFTOOLS_MERGE" {
    cpus = 10
    ext.args1 = "--merge id"
    }


/*
 publishDir = [
          path:"${params.outdir}",
          saveAs: { filename -> "${params.prefix}$filename" },
          pattern : '*.{bcf,csi,vcf.gz,tbi,txt,tsv}',
          mode: "copy",
          overwrite : true
          ]  


}
*/